    <div id="sign-up-banner" class="sign-up-banner banner {{ class }}">
      <div class="row-wrapper">
        <div class="fourth subscribe-icon-wrapper">
          {{> sprite symID="subscribe"}}
        </div>
        <div class="{{#if featuredBreach.IsSensitive}} three-fourths {{else}} half {{/if}}">
          {{#if featuredBreach.IsSensitive}}
            <h2 class="medium secondary-title">{{fluentFormat req.supportedLocales "get-your-report"}}</h2>
          {{else}}
            <h2 class="medium secondary-title">{{fluentFormat req.supportedLocales "sign-up-for-fxa-alerts"}}</h2>
          {{/if}}
          <p class="demi">{{fluentFormat req.supportedLocales "create-free-account"}}</p>
        </div>
        {{#unless featuredBreach.IsSensitive}}
          {{> fxa_enabled/sign_up_bundle class="fourth"}}
        {{/unless}}
      </div>
    </div>
