<h2 class="headline article-list-headline">{{getString "take-control"}}</h2>
{{!---DATA REMOVAL SPECIFIC ---}}
{{!-- MH TODO: Reenable the next line and disable the following if reverting to prod monitor homepage --}}
{{!-- <h3 class="article-list-subhead {{ variableClasses }}">{{ getString "cant-stop-hackers" }}</h3> --}}
<h3 class="article-list-subhead {{variableClasses}}">{{getRemoveString "remove-home-cta-content"}}</h3>