    <tr>
      <td valign="top" style="padding-top: 13px; padding-bottom: 10px; width: 70px;">
        <img src="{{ SERVER_URL }}/img/logos/{{ this.ImgSrc }}.png" alt="" width="50" style="width: 50px;"/>
      </td>
      <td valign="top" style="vertical-align: top; padding-top: 7px; padding-right: 20px; padding-bottom: 10px;">
        <p class="body-copy" style="padding: 0px; margin: 0px; color: #ffffff; margin: 0px; font-weight: 600; font-size: 16px;">{{ this.Title }}</p>
        <p class="body-copy" style="padding: 0px; margin: 0px; color: #ffffff; font-weight: 600;">Breach date:<span class="body-copy" style="font-weight:300; padding-left: 6px; color: #ffffff">{{prettyDate this.BreachDate }}</span></p>
        <p class="body-copy" style="padding: 0px; margin: 0px; color: #ffffff; font-weight: 600;">Compromised accounts:<span class="body-copy" style="font-weight:300; padding-left: 6px; color: #ffffff">{{localeString this.PwnCount }}</span></p>
        {{#if this.DataClasses }}
          <p class="body-copy" style="padding: 0px 0px 3px 0px; margin: 0px; color: #ffffff; font-weight: 600;">Compromised data:<span class="body-copy" style="font-weight:300; padding-left: 6px; color: #ffffff">{{breachDataClasses this.DataClasses }}</span></p>
        {{/if}}
      </td>
    </tr>
