    <tr>
      <td valign="top" style="padding-top: 13px; padding-bottom: 10px; width: 70px;">
        <img src="{{ SERVER_URL }}/img/logos/{{ this.ImgSrc }}.png" alt="" width="50" style="width: 50px;" />
      </td>
      <td valign="top" style="vertical-align: top; padding-top: 7px; padding-right: 20px; padding-bottom: 10px;">
        <p class="body-copy" style="padding: 0px; margin: 0px; color: #333333; margin: 0px; font-weight: 500; font-size: 16px;">{{ this.Title }}</p>
        <p class="body-copy" style="padding: 2px 0px 2px 0px; margin: 0px; color: #333333; font-weight: 400; font-size: 14px;">Breach date:<span class="body-copy" style="font-weight:300; padding-left: 6px; color: #333333">{{prettyDate req.supportedLocales this.BreachDate }}</span></p>
        <p class="body-copy" style="padding: 2px 0px 2px 0px; margin: 0px; color: #333333; font-weight: 400; font-size: 14px;">Compromised accounts:<span class="body-copy" style="font-weight:300; padding-left: 6px; color: #333333">{{localeString this.PwnCount }}</span></p>
        {{#if this.DataClasses }}
          <p class="body-copy" style="padding: 2px 0px 2px 0px; margin: 0px; color: #333333; font-weight: 400; font-size: 14px;">Compromised data:<span class="body-copy" style="font-weight:300; padding-left: 6px; color: #333333">{{localizedBreachDataClasses req.supportedLocales this.DataClasses }}</span></p>
        {{/if}}
      </td>
    </tr>
