    <tr>
      <td valign="top" style="vertical-align: top; padding-right: 10px; padding-top: 10px;">
        <img style="width: 30px; opacity: 0.45;"  src="{{ serverUrl }}/img/Password_Tip_2@2x.png" />
      </td>
      <td valign="top" style="vertical-align: top; padding-top:10px;">
        <p style="padding: 0px 0px 5px 0px; margin: 0px; color: #333333; margin: 0px; font-weight: 600; font-size: 16px;">{{ Title }} Breach</p>
        <p style="padding: 0px 0px 5px 0px; margin: 0px; color: #333333; font-weight: 600;">Breach Date:<span style="font-weight:300; padding-left: 5px; color: #5d5d5d">{{prettyDate BreachDate }}</span></p>
        <p style="padding: 0px 0px 5px 0px; margin: 0px; color: #333333; font-weight: 600;">Compromised Accounts:<span style="font-weight:300; padding-left: 5px; color: #5d5d5d">{{ PwnCount }}</span></p>
        {{#if DataClasses }}
        <p style="padding: 0px 0px 5px 0px; margin: 0px; color: #333333; font-weight: 600;">Compromised Data:<span style="font-weight:300; padding-left: 5px; color: #5d5d5d">{{breachDataClasses DataClasses }}</span></p>
        {{/if}}
        <p style="padding: 0px 0px 5px 0px; margin: 0px; font-weight: 300; color: #5d5d5d;">{{ Description }}</p>
        <br />
      </td>
    </tr>
