<aside data-ad-unit="5">
  <h2>{{{ getString "ad-unit-5-on-the-go" }}}</h2>
  <p>{{{ getString "ad-unit-5-instantly-make" }}}</p>
  <section>
    <figure>
      <img src="img/ad-units/ad-unit-5-breakfast.png">
      <figcaption>
        <h3>{{{ getString "ad-unit-5-connect-on-the-go" }}}</h3>
        <p>{{{ getString "ad-unit-5-privately-sign-in" }}}</p>
      </figcaption>
    </figure>
    <figure>
      <img src="img/ad-units/ad-unit-5-shopping.png">
      <figcaption>
        <h3>{{{ getString "ad-unit-5-email-receipts" }}}</h3>
        <p>{{{ getString "ad-unit-5-share-custom-email" }}}</p>
      </figcaption>
    </figure>
    <figure>
      <img src="img/ad-units/ad-unit-5-walking.png">
      <figcaption>
        <h3>{{{ getString "ad-unit-5-use-on-phone" }}}</h3>
        <p>{{{ getString "ad-unit-5-no-matter-where" }}}</p>
      </figcaption>
    </figure>
  </section>
  <a class="ad-unit-cta btn-small" href="https://relay.firefox.com/">{{{ getString "ad-unit-relay-cta" }}}</a>
</aside>