<aside class="{{ theme }}" data-ad-unit="3">
  <article>
    <h2>{{{ getString "ad-unit-3-stay-in-the-game" }}}</h2>
    <p>{{{ getString "ad-unit-3-lets-you-keep" }}}</p>
    <a class="ad-unit-cta btn-small" href="https://www.mozilla.org/en-US/products/vpn/" target="_blank">{{{ getString
      "ad-unit-vpn-cta"}}}</a>
  </article>
  <figure>
    <img src="img/ad-units/ad-unit-3-video-games.png">
    <i>{{{ getString "ad-unit-3-be-anywhere" }}}</i>
    <i>{{{ getString "ad-unit-3-prevent-throttling" }}}</i>
    <i>{{{ getString "ad-unit-3-access-more" }}}</i>
  </figure>
</aside>