{{#unless req.session.user}}
  {{#if FXA_ENABLED}}
    {{> fxa_enabled/fxa_sign_up_banner}}
  {{else}}
    <div id="sign-up-banner" class="banner">
      <div class="section-wrapper">
        <div class="fourth subscribe-icon-wrapper">
          {{> sprite symID="subscribe"}}
        </div>
        <div class="{{#if featuredBreach.IsSensitive }} three-fourths {{else}} half {{/if}}">
          {{#if featuredBreach.IsSensitive}}
            <h2 class="medium secondary-title">{{getString "get-your-report"}}</h2>
          {{else}}
            <h2 class="medium secondary-title">{{getString "sign-up-for-fxa-alerts"}}</h2>
          {{/if}}
          <p class="demi">{{{getString "signup-banner-blurb"}}}</p>
        </div>
        {{#unless featuredBreach.IsSensitive}}
          <div class="fourth">
            {{> sign_up_button}}
          </div>
        {{/unless}}
      </div>
    </div>
  {{/if}}
{{/unless}}
