{{#if breach }}
  <div class="account">
    <div id="breach-title-wrapper">
      <div class="image-wrap">
        <img alt="{{ breach.Name }}" src="img/logos/{{ breach.Name }}.{{ breach.LogoType }}">
      </div>
      <h3>{{ breach.Name }} Breach</h3>
    </div>
    <span class="breach-info"><span class="medium">Breach Date</span> {{prettyDate breach.BreachDate }}</span>
    <span class="breach-info"><span class="medium">Compromised Accounts</span> {{localeString breach.PwnCount }}</span>
    <span class="breach-info"><span class="medium">Compromised Data</span> {{breachDataClasses breach.DataClasses }}</span>
    <span class="breach-info">{{{ breach.Description }}}</span>
    {{> hibp_attribution }}
  </div>
{{/if}}

{{!-- {{#if featuredBreach }}
  <div class="account">
    <div id="breach-title-wrapper">
      <div class="image-wrap">
        <img alt="{{ featuredBreach.Name }}" src="img/logos/{{ featuredBreach.Name }}.{{ featuredBreach.LogoType }}">
      </div>
      <h3>{{ featuredBreach.Name }} Breach</h3>
    </div>
    <span class="breach-info"><span class="medium">Breach Date</span> {{prettyDate featuredBreach.BreachDate }}</span>
    <span class="breach-info"><span class="medium">Compromised Accounts</span> {{localeString featuredBreach.PwnCount }}</span>
    <span class="breach-info"><span class="medium">Compromised Data</span> {{breachDataClasses featuredBreach.DataClasses }}</span>
    <span class="breach-info">{{{ featuredBreach.Description }}}</span>
    {{> hibp_attribution }}
  </div>
{{/if}} --}}
