{{#if breach }}
  <div class="account">
    <div id="breach-title-wrapper">
      <div class="image-wrap">
        <img alt="{{ breach.name }}" src="img/logos/{{ breach.name }}.{{ breach.meta.LogoType }}">
      </div>
      <div id="breach-title-date">
        <h3>{{ breach.name }} Breach</h3>
        <span class="breach-info"><span class="medium">Breach date:</span> {{prettyDate breach.meta.BreachDate }}</span>
      </div>
    </div>

    <span class="breach-info"><span class="medium">Compromised data:</span> {{breachDataClasses breach.meta.DataClasses }}</span>
    <span class="breach-info"><span class="medium">Compromised accounts:</span> {{localeString breach.meta.PwnCount }}</span>
    <span class="breach-info">{{{ breach.meta.Description }}}</span>
    <span class="source-info">Breach data provided by<span class="demi"> Have I been Pwned?</span></span>
  </div>
{{/if}}
