{{#if breach }}
<div class="account">
  <div id="breach-title-wrapper">
    <div class="image-wrap">
      <img alt="{{ breach.name }}" src="img/{{ breach.name }}.png">
    </div>
    <div id="breach-title-date">
      <h3>{{ breach.name }} Breach</h3>
      <span class="breach-info"><span class="medium">Breach date:</span> {{prettyDate breach.meta.BreachDate }}</span>
    </div>
  </div>
  <span class="breach-info"><span class="medium">Compromised data:</span> {{breachDataClasses breach.meta.DataClasses }}</span>
  <span class="breach-info"><span class="medium">Compromised accounts:</span> {{localeString breach.meta.PwnCount }}</span>
  <span class="breach-info">{{{ breach.meta.Description }}}</span>
</div>
{{/if}}
