{{#if breach }}
  <div class="account">
    <div id="breach-title-wrapper">
      <div class="image-wrap">
        <img alt="{{ breach.name }}" src="img/logos/{{ breach.name }}.{{ breach.meta.LogoType }}">
      </div>
      <div id="breach-title-date">
        <h3>{{ breach.name }} Breach</h3>
        <span class="breach-info"><span class="medium">Breach Date</span> {{prettyDate breach.meta.BreachDate }}</span>
      </div>
    </div>

    <span class="breach-info"><span class="medium">Compromised Data</span> {{breachDataClasses breach.meta.DataClasses }}</span>
    <span class="breach-info"><span class="medium">Compromised Accounts</span> {{localeString breach.meta.PwnCount }}</span>
    <span class="breach-info">{{{ breach.meta.Description }}}</span>
    <span class="source-info">Breach data provided by<a class="demi" href="https://www.haveibeenpwned.com" alt="Have I Been Pwned"> Have I Been Pwned</a></span>
  </div>
{{/if}}
