{{#if breach }}
  <div class="account">
    <div id="breach-title-wrapper">
      <div class="image-wrap">
        <img alt="{{ breach.Name }}" src="img/logos/{{ breach.Name }}.{{ breach.LogoType }}">
      </div>
      <h3>{{ breach.Name }} Breach</h3>
    </div>
    <span class="breach-info"><span class="medium">Breach Date</span> {{prettyDate breach.BreachDate }}</span>
    <span class="breach-info"><span class="medium">Compromised Accounts</span> {{localeString breach.PwnCount }}</span>
    <span class="breach-info"><span class="medium">Compromised Data</span> {{breachDataClasses breach.DataClasses }}</span>
    <span class="breach-info">{{{ breach.Description }}}</span>
    {{> hibp_attribution }}
  </div>
{{/if}}
