<a class="breach-card {{ Category }} {{ cardType }} {{#if NewBreach}} new-breach {{/if}}" {{#if latestBreach }} href="/?breach={{ Name }}" {{ else }} href="/breach-details/{{ Name }}" {{/if}}>
  <div class="breach-logo-wrapper flx">
    <img alt="" class="breach-logo breach-img" src="/img/logos/{{ LogoPath }}" />
  </div>
  <div class="breach-info-wrapper flx flx-col">
    <div class="flx flx-col">
      <span class="breach-title">{{ Title }}</span>

      {{#if latestBreach}}
        <div class="breach-info">
          {{> breach-cards/added-date }}
        </div>
        <div class="breach-info">
          {{> breach-cards/data-classes }}
        </div>
      {{else}}
        {{> breach-cards/added-date }}
        {{#if showPwnCount }}
          <span class="breach-key">{{ String.CompromisedAccounts }}</span>{{ PwnCount }}</span>
        {{/if}}
        {{> breach-cards/data-classes }}
      {{/if}}
    </div>
    <div class="breach-card-link-wrap">
      {{#if latestBreach}}
        <span class="latest-breach-link">{{ getString "latest-breach-link" }}</span>
      {{else}}
        <span class="more-about-this-breach">{{ String.MoreInfoLink }}</span>
      {{/if}}
    </div>
  </div>
</a>
