              <h2 class="section-headline-light">{{ this.headline }}</h2>

              {{#if this.copy }}
                <p>{{ this.copy }}</p>
              {{/if}}

              {{#if this.tips }}
                <div class="flx feature-tip-group">
                  {{#each tips}}
                    {{> feature-tip-group this}}
                  {{/each}}
                </div>
              {{/if}}
              
              {{#if dataTypes}}
                <ul class="priority-data-classes-list">
                  {{#each dataTypes.priority}}
                    <li>
                      <div class="glyph">{{>(lookup . 'pathToGlyph')}}</div>
                      <p class="data-type">{{ this.dataType }}</p>
                    </li>
                  {{/each}}
                </ul>
                  {{#if dataTypes.dataClasses}}
                    <div class="additional-data-types-wrapper">
                      <span class="medium additional-data-types">{{ getString "additional-information-including" }}</span>
                      {{#each dataTypes.dataClasses}}
                        <span class="low-weight-data-class">{{ this }} </span>
                      {{/each}}
                    </div>
                  {{/if}}
              {{/if}}
