
  <div class="breach-logo-title logo-title-wrapper">
    <div class="logo-wrapper">
      <img alt="" class="breach-logo" src="/img/logos/{{ LogoPath }}" />
    </div>
    <div class="title-wrapper">
      <h4 class="breach-title key">{{ Title }}</h4>
    </div>
  </div>
  <div class="breach-info-wrap">
    <span class="breach-info"><span class="key">{{getString "breach-added" this}}</span>{{prettyDate AddedDate this}}</span>
    <span class="breach-info"><span class="key">{{getString "compromised-accounts" this}}</span>{{localeString PwnCount this}}</span>
    {{#if DataClasses }}
      <span class="breach-info"><span class="key">{{getString "compromised-data" this}}</span>{{localizedBreachDataClasses DataClasses this}}</span>
    {{/if}}
     <a href="/?breach={{Name}}" class="">{{getString "more-about-this-breach" this}} &#8594;</a>
  </div>
