<div class="account wrap-row">
  <div class="image-wrap">
    <img class="breach-image" alt="{{ Title }}" src="/img/logos/{{ ImgSrc }}.{{ LogoType }}" />
  </div>
  <div class="breach-info-wrap">
    <h4 class="medium">{{ Title }}</h4>
    <span class="breach-info"><span class="medium">Breach date:</span>{{prettyDate BreachDate }}</span>
    <span class="breach-info"><span class="medium">Compromised accounts:</span>{{localeString PwnCount }}</span>
    {{#if DataClasses }}
    <span class="breach-info"><span class="medium">Compromised data:</span>{{breachDataClasses DataClasses }}</span>
    {{/if}}
  </div>
</div>
