  <div class="breach-logo-title logo-title-wrapper flx">
    <div class="logo-wrapper">
      <img alt="" class="breach-logo breach-listing-logo" src="/img/logos/{{ LogoPath }}" />
    </div>
    <div class="title-wrapper">
      <span class="breach-title key">{{ Title }}</span>
    </div>
  </div>
  <div class="breach-info-wrap">
    {{!-- <span class="breach-info"><span class="key">{{getString "breach-added"}}</span>{{prettyDate AddedDate}}</span>
    <span class="breach-info"><span class="key">{{getString "compromised-accounts" }}</span>{{localeString PwnCount}}</span> --}}
        <span class="breach-info">{{ String.AddedDate }}<span class="key">{{ AddedDate }}</span></span>
    <span class="breach-info">{{ String.CompromisedAccounts }}<span class="key">{{ PwnCount }}</span></span>
    {{#if DataClasses }}
      {{!-- <span class="breach-info"><span class="key">{{getString "compromised-data"}}</span>{{localizedBreachDataClasses DataClasses}}</span> --}}
            <span class="breach-info"> {{ String.CompromisedData }}<span class="key">{{ DataClasses }}</span></span>
    {{/if}}
  </div>
  <a href="/?breach={{this.Name}}" class="more-about-this-breach">{{getString "more-about-this-breach"}}<span class="arrow">&#8594;</span></a>

