              <h2 class="section-headline-light">{{ this.headline }}</h2>

              {{#if this.copy }}
                <p>{{{ this.copy }}}</p>
              {{/if}}

              {{#if this.tips }}
                <div class="flx feature-tip-group">
                  {{#each tips}}
                    {{> feature-tip-group this}}
                  {{/each}}
                </div>
              {{/if}}
              
              {{#if dataTypes}}
                <ul class="priority-data-classes-list">
                  {{#each dataTypes.priority}}
                    <li class="priority-data-type">
                      <div class="glyph">{{>(lookup . 'pathToGlyph')}}</div>
                      <p class="data-type">{{ this.dataType }}</p>
                    </li>
                  {{/each}}
                </ul>
                  {{#if dataTypes.lowerPriority}}
                    <div class="additional-data-types-wrapper">
                      <div class="flx glyph-string-wrapper">
                        <div class="glyph">{{> svg/glyphs/more }}</div>
                        <div class="flx flx-col">
                          <p class="demi additional-data-types">{{ getString "additional-information-including" }}</p>
                          <p class="lower-priority">{{ dataTypes.lowerPriority }}</p>
                        </div>
                      </div>
                    </div>
                  {{/if}}
              {{/if}}
