<a class="breach-card {{ cardClass }}" href="/?breach={{ Name }}">
  <div class="breach-card-title-wrapper flx {{ Category }}">
    <span class="breach-title demi {{ addClass }}">{{ Title }}</span>
    <div class="breach-logo-wrapper">
      {{#if lazyLoad}}
        <img alt="" class="breach-logo lazy-img" data-srcset="/img/logos/{{ LogoPath }}" src="/img/logos/missing-logo-icon.png" />
      {{else}}
        <img alt="" class="breach-logo" src="/img/logos/{{ LogoPath }}" />
      {{/if}}
    </div>
  </div>
  <div class="breach-info-wrapper flx flx-col">
    <div class="flx flx-col">
      <span class="breach-info"><span class="demi key">{{ String.AddedDate }}</span>{{ AddedDate }}</span>
      <span class="breach-info"><span class="demi key">{{ String.CompromisedAccounts }}</span>{{ PwnCount }}</span>
      {{#if DataClasses }}
        <span class="breach-info"><span class="demi key">{{ String.CompromisedData }}</span>{{ DataClasses }}</span>
      {{/if}}
    </div>
    <div class="breach-card-link-wrap">
      <span class="more-about-this-breach">{{ String.MoreInfoLink }}<span class="arrow">&#8594;</span></span>
    </div>
  </div>
</a>
