<a 
  class="breach-card {{ cardType }}
 {{#if NewBreach}} new-breach {{/if}}
 {{#if IsResolved}} resolved-breach-card {{/if}}"
 {{#if latestBreach }} href="/?breach={{ Name }}" {{ else }} href="/breach-details/{{ Name }}" {{/if}}>
  <div class="breach-logo-wrapper flx">
    <img alt="" class="breach-logo breach-img" src="{{ LogoUrl }}" />
  </div>
  <div class="breach-info-wrapper flx flx-col">
    <div class="flx flx-col">
      <span class="breach-title">{{ Title }}</span>
      {{#if latestBreach}}
        <div class="lb-info breach-info">
          {{> breach-cards/added-date }}
        </div>
        <div class="lb-info breach-info">
          {{> breach-cards/data-classes }}
        </div>
      {{else}}
        {{> breach-cards/added-date }}
        {{> breach-cards/data-classes }}
      {{/if}}
    </div>
    <div class="breach-card-link-wrap">
      {{#getBreachCardCta this}}
        <span class="more-about-this-breach blue-link" {{> analytics/internal-link eventLabel=ctaAnalyticsLabel }}>{{ ctaTitle }}</span>
      {{/getBreachCardCta}}
    </div>
  </div>
  <div class="breach-card-status">
    {{#if NewBreach}}
      <span class="breach-status-message new-breach-message">{{getString "new-breach"}}</span>
    {{/if}}
    {{#if IsResolved}}
      <span class="breach-status-message resolved-breach-indicator"></span>
    {{/if}}
  </div>
</a>
