              
            <div class="mw-700 breach-detail {{ sectionId }}">
              {{#if smallerSectionHeadline}}
                <h2 class="small-section-headline txt-purple7 bold">{{ this.headline }}</h2>
              {{else}}
                <h2 class="section-headline txt-purple7">{{ this.headline }}</h2>
              {{/if}}
              {{#if this.copy }}
                <p class="txt-light">{{{ this.copy }}}</p>
              {{/if}}
              {{#if delayedReporting }}
                <a class="text-link blue-link delayed-reporting" href="#delayed-reporting">{{delayedReporting.headline}}</a>
              {{/if}}
              {{#if this.recommendationsList }}
                <div class="flx feature-tip-group">
                  {{#eachFromTo recommendationsList  0 4}}
                    {{> recommendation this ctaClassName="first-four-recs"}}
                  {{/eachFromTo}}
                  {{#ifCompare recommendationsList.length ">" 4}}
                    <button id="see-additional-recs" class="btn-violet-secondary btn-transparent btn-small">{{getString "see-additional-recs"}}</button>
                    <div id="overflow-recs" class="overflow-recs flx flx-col hide">
                    {{#eachFromTo recommendationsList  4 recommendationsList.length}}
                      {{> recommendation this ctaClassName="overflow-rec-cta"}}
                    {{/eachFromTo}}
                    </div>
                  {{/ifCompare}}
                </div>
              {{/if}}
              
              {{#if dataTypes}}
                <ul class="priority-data-classes-list">
                  {{#each dataTypes.priority}}
                    <li class="priority-data-type">
                      <div class="glyph">{{>(lookup . 'pathToGlyph')}}</div>
                      <p class="data-type">{{ this.dataType }}</p>
                    </li>
                  {{/each}}
                </ul>
                  {{#if dataTypes.lowerPriority}}
                    <div class="additional-data-types-wrapper">
                      <div class="flx glyph-string-wrapper">
                        <div class="glyph">{{> svg/glyphs/more }}</div>
                        <div class="flx flx-col txt-light">
                          <p class="additional-data-types">{{ getString "additional-information-including" }}</p>
                          <p class="lower-priority-data-types">{{ dataTypes.lowerPriority }}</p>
                          {{> hibp-attribution}}
                        </div>
                      </div>
                    </div>
                  {{/if}}
                  {{#if treatmentBranch}}
                    {{> experiment--share-promo-breach breachName=./breach }}
                  {{/if}}
              {{/if}}
            </div>
