<div id="compromised-accounts">
  <h2>Your Compromised Accounts</h2>
  {{#each foundBreaches }}
    <div class="account">
      <div class="image-wrap">
        <img alt="Breached Account Icon" src="img/{{ name }}.png">
      </div>
      <div class="breach-info-wrap">
        <h3 class="demi">{{ name }}</h3>
        <span class="breach-info"><span class="medium">Breach date:</span> {{prettyDate meta.BreachDate }}</span>
        <span class="breach-info"><span class="medium">Compromised data:</span> {{breachDataClasses meta.DataClasses }}</span>
        <span class="breach-info"><span class="medium">Compromised accounts:</span> {{localeString meta.PwnCount }}</span>
      </div>
    </div>
  {{/each}}
  <span id="source-info">Breach data provided by <span id="pwned">';--</span><span class="medium"> Have I been Pwned?</span></span>
</div>
               
              
        
 