<div id="compromised-accounts">
  <h3>Your Compromised Accounts</h3>
  {{#each foundBreaches }}
    <div class="account">
      <div class="image-wrap">
        <img alt="{{ name }}" src="img/logos/{{ name }}.{{ meta.LogoType }}">
      </div>
      <div class="breach-info-wrap">
        <h4 class="demi">{{ name }}</h4>
        <span class="breach-info"><span class="medium">Breach date:</span> {{prettyDate meta.BreachDate }}</span>
        <span class="breach-info"><span class="medium">Compromised data:</span> {{breachDataClasses meta.DataClasses }}</span>
        <span class="breach-info"><span class="medium">Compromised accounts:</span> {{localeString meta.PwnCount }}</span>
      </div>
    </div>
  {{/each}}
  <span id="source-info">Breach data provided by <span id="pwned">';--</span><span class="medium"> Have I been Pwned?</span></span>
</div>
