<div class="float-debug">
  <ul>
    <li>EXPERIMENT_ACTIVE: {{EXPERIMENT_ACTIVE}} </li>
    <li>req.headers["accept-language"]: {{debugHeadersAcceptLanguage}} </li>
    <li>sessionStorage: <span id="debugSessionStorage"></span> </li>
    <li>isUserInExperiment: {{isUserInExperiment}}  </li>
    <li>experimentBranch: {{experimentBranch}}  </li>
    <li>experimentBranchB: {{experimentBranchB}}  </li>
  </ul>
</div>
