          {{> dashboards/new-breach-message}}
          <div class="
            email-card
            toggle-parent
            inactive
            {{#ifCompare breaches.length "===" 0}} zero-breaches {{/ifCompare}}
            {{#if primary}}
              primary-email-card
            {{else}}
              {{#if verified}}
                verified
              {{/if}}
            {{/if}}
            {{#if prefs}} 
              preferences
            {{else}}
              breaches-dash
            {{/if}}
            {{#if hasNewBreaches}}
              new-breaches
            {{/if}}
            ">
            <div class="e-toggle-info-wrapper">
              <div class="e-info">
                <span class="e-address overflow-break">{{ email }}</span>
                {{#if verified}}
                  <!-- show breach count for verified emails -->
                  <span class="e-num-breaches">{{{ getString "appears-in-x-breaches" breachCount=breaches.length }}}</span>
                {{else}}
                  <!-- show resend-email link for unverified emails -->
                  <div class="button-resend-wrapper flx">
                    <button class="resend-email blue-link" data-email-id="{{ id }}" data-form-action="resend-email" data-csrf-token="{{ csrfToken }}">{{ getString "resend-verification" }}</button>
                    <span class="sending hide"> {{getString "signup-modal-sent"}}</span>
                  </div>
                {{/if}}
              </div>

              {{#if prefs}} <!--preferences dashboard / show trashcan to delete email-->
                {{#if primary}}
                  <a href="https://support.mozilla.org/kb/change-primary-email-address-firefox-accounts" target="_blank" rel="noopener noreferrer" class="change-primary-email blue-link hide-mobile" {{> analytics/internal-link eventLabel="Change Primary Email Address" }}>{{ getString "link-change-primary" }}</a>
                {{else}}
                  {{> forms/remove-email-form }}
                {{/if}}
              {{else}} <!-- breaches dashboard / show toggle -->
                {{#ifCompare breaches.length ">" 0}}
                  <button class="toggle svg-wrap show-email-breaches" aria-label="{{ getString "show-breaches-for-this-email" }}">
                    {{> svg/toggle-down }}
                  </button>
                {{/ifCompare}}
              {{/if}}
            </div>

            {{#unless prefs}} <!-- breaches dashboard, show breaches for each email on toggle click-->
              <div class="e-breach-list">
                {{#if this.foundBreaches}}
                  {{> breach-groups foundBreaches variableClasses="two-up ec" }}
                {{/if}}
              </div>
            {{/unless}}
          </div>
