          <div class="feature-tip-content-wrapper col txt-cntr">
            <div class="feat-img {{ pictogramPath }} {{ svgClass }}"></div>
            <div class="feature-tip-content">
              <h3 class="feature-title">{{ title }}</h3>
              <h4 class="feature-subhead">{{ subtitle }}</h4>
              {{#if linkTitle }}
                <a class="feature-tip-link text-link" href="{{ href }}">{{ linkTitle }}</a> 
              {{/if}}
            </div>
          </div>
