{{#if featuredBreach }}
  <div id="featured-breach" class="account wrap-row">
      <div class="image-wrap">
        <img class="breach-image" alt="{{ featuredBreach.Title }}" src="/img/logos/{{ featuredBreach.ImgSrc }}.{{ featuredBreach.LogoType }}">
      </div>
    <div class="breach-info-wrap">
      <span class="breach-headline medium">{{ featuredBreach.Title }}</span>
      <span class="breach-info breach-date"><span class="medium">Breach date:</span>{{prettyDate featuredBreach.BreachDate }}</span>
      <span class="breach-info"><span class="medium">Compromised accounts:</span>{{localeString featuredBreach.PwnCount }}</span>
      {{#if featuredBreach.DataClasses }}
      <span class="breach-info"><span class="medium">Compromised data:</span>{{breachDataClasses featuredBreach.DataClasses }}</span>
      {{/if}}
    </div>
  </div>
{{/if}}
