{{#if featuredBreach }}
  <div id="featured-breach" class="account wrap-row">
      <div class="image-wrap">
        <img alt="" src="/img/logos/{{ featuredBreach.Name }}.{{ featuredBreach.LogoType }}">
      </div>
    <div class="breach-info-wrap">
      <span class="breach-headline medium">{{ featuredBreach.Title }}</span>
      <span class="breach-info breach-date"><span class="medium">{{fluentFormat req "breach-date"}}</span>{{prettyDate req featuredBreach.BreachDate }}</span>
      <span class="breach-info"><span class="medium">{{fluentFormat req "compromised-accounts"}}</span>{{localeString featuredBreach.PwnCount }}</span>
      {{#if featuredBreach.DataClasses }}
        <span class="breach-info"><span class="medium">{{fluentFormat req "compromised-data"}}</span>{{breachDataClasses req featuredBreach.DataClasses }}</span>
      {{/if}}
    </div>
  </div>
{{/if}}
