{{#if featuredBreach }}
  <div id="featured-breach" class="account wrap-row">
      <div class="image-wrap">
        <img alt="{{ featuredBreach.Title }}" src="/img/logos/{{ featuredBreach.Name }}.png">
      </div>
    <div class="breach-info-wrap">
      <span class="breach-headline medium">{{ featuredBreach.Title }} Breach</span>
      <span class="breach-info breach-date"><span class="medium">Breach Date</span> {{prettyDate featuredBreach.BreachDate }}</span>
      <span class="breach-info"><span class="medium">Compromised Accounts</span> {{localeString featuredBreach.PwnCount }}</span>
      {{#if featuredBreach.DataClasses }}
      <span class="breach-info"><span class="medium">Compromised Data</span> {{breachDataClasses featuredBreach.DataClasses }}</span>
      {{/if}}
    </div>
  </div>
{{/if}}
