{{!< default }}
  <div class="section-wrapper tips" role="complementary">
    <section id="password-advice" class="whole">
      <h3 class="section-headline">{{fluentFormat req "pwt-section-headline"}}</h3>
      <h4 class="section-sub-head">{{fluentFormat req "pwt-section-subhead"}}</h4>
      <p>{{fluentFormat req "pwt-section-blurb"}}</p>
    </section>

    {{#each passwordTips}}
      <div class="tip third">
        <div class="icon tip-icon tip-icon-{{ number }}"></div>
          <h4 class="medium">{{{getValue ../req "pwt-headline-" number}}}</h4>
        <p>{{getValue ../req "pwt-summary-" number }}</p>
      </div>
   {{/each}}
  </div>
