{{!< default }}
  <div class="section-wrapper tips" role="complementary">
    <section id="password-advice" class="whole">
      <h3 class="section-headline">{{fluentFormat req.supportedLocales "pwt-section-headline"}}</h3>
      <h4 class="section-sub-head">{{fluentFormat req.supportedLocales "pwt-section-subhead"}}</h4>
      <p>{{fluentFormat req.supportedLocales "pwt-section-blurb"}}</p>
    </section>

    {{#loop 1 6 1}}
      <div class="tip third">
        <div class="icon tip-icon tip-icon-{{ this }}"></div>
          <h4 class="medium">{{{getStringID ../req.supportedLocales "pwt-headline-" this}}}</h4>
        <p>{{{getStringID ../req.supportedLocales "pwt-summary-" this}}}</p>
      </div>
   {{/loop}}
  </div>
