<button class="button sign-up-button {{#if FXA_ENABLED}} open-oauth {{/if}}" id="sign-up" data-event-category="Sign Up Button" {{>analytics/fxa id="fx-monitor-sign-up-button"}}>
  {{#if FXA_ENABLED}}
    {{#ifCompare foundBreaches.length "===" 0}}
      {{getString "sign-up-for-alerts"}}
    {{else}}
      {{getString "sign-up"}}
    {{/ifCompare}}
  {{else}}
    {{getString "get-your-report"}}
  {{/if}}
</button>
