<aside class="vpn-banner">
	{{#with (vpnBannerData)}}
	<section class="vpn-banner-top">
		<label>{{ getString "vpn-banner-location" }} <output>{{ shortLocation }}</output>&nbsp; • </label>
		<label><output class="vpn-banner-red">{{ getString "vpn-banner-protect-yourself" }}</output> {{ getString
			"vpn-banner-with-moz-vpn" }} </label>
		<label class="vpn-banner-chevron"></label>
	</section>
	<section class="vpn-banner-bottom">
		<h2 class="vpn-banner-title">{{ getString "vpn-banner-title-1" }}
			<span>{{ getString "vpn-banner-subtitle-1" }}</span>
		</h2>
		<div class="vpn-banner-lists">
			<ul class="status-list">
				<li>{{ getString "vpn-banner-status" }} <output class="vpn-banner-red">{{ getString "vpn-banner-not-protected"
						}}</output></li>
				<li>{{ getString "vpn-banner-ip-address" }} <output>{{ ip }}</output></li>
				<li>{{ getString "vpn-banner-location" }} <output>{{ fullLocation }}</output></li>
				<li><a class="vpn-banner-cta" href="https://vpn.mozilla.org/" target="_blank">{{ getString "vpn-banner-cta" }}</a></li>
			</ul>
			<ol class="step-list">
				<li>
					<figure><img src="/img/svg/laptop.svg">
						<figcaption>{{ getString "vpn-banner-step-1" }}</figcaption>
					</figure>
				</li>
				<li>
					<figure><img src="/img/svg/globe.svg">
						<figcaption>{{ getString "vpn-banner-step-2" }}</figcaption>
					</figure>
				</li>
				<li>
					<figure><img src="/img/svg/vpn.svg">
						<figcaption>{{ getString "vpn-banner-step-3" }}</figcaption>
					</figure>
				</li>
			</ol>
		</div>
		<button class="vpn-banner-close"></button>
		</section>
	{{/with}}
</aside>
