{{#with (vpnBannerData)}}
<aside class="vpn-banner" data-protected={{ protected }}>
	<section class="vpn-banner-top">
		<label>{{{ getString "vpn-banner-location" }}} <output>{{ shortLocation }}</output></label>
		<label>
			{{#if protected}}
			{{{ getString "vpn-banner-protected-with-vpn" }}}
			{{else}}
			{{{ getString "vpn-banner-protect-yourself-with-vpn" }}}
			{{/if}}
		</label>
		<label class="vpn-banner-chevron" data-expand={{ getString "vpn-banner-cta-expand" }} data-close={{
			getString "vpn-banner-cta-close" }}></label>
	</section>
	<section class="vpn-banner-bottom">
		<h2 class="vpn-banner-title">
			{{#if protected}}
			{{ getString "vpn-banner-title-1" }}
			{{else}}
			{{ getString "vpn-banner-title-2" }}
			<span>{{ getString "vpn-banner-subtitle-2" }}</span>
			{{/if}}
		</h2>
		<div class="vpn-banner-lists">
			<ul class="status-list">
				<li>
					{{#if protected}}
					{{{ getString "vpn-banner-status-protected" }}}
					{{else}}
					{{{ getString "vpn-banner-status-not-protected" }}}
					{{/if}}
				</li>
				<li>{{ getString "vpn-banner-ip-address" }} <output>{{ ip }}</output></li>
				<li>{{ getString "vpn-banner-location" }} <output>{{ fullLocation }}</output></li>
				<li><a class="vpn-banner-cta" href="https://vpn.mozilla.org/" target="_blank">{{ getString "vpn-banner-cta" }}</a></li>
			</ul>
			<ol class="step-list">
				<li>
					<figure><img src="/img/svg/laptop.svg">
						<figcaption>{{ getString "vpn-banner-step-1" }}</figcaption>
					</figure>
				</li>
				<li>
					<figure><img src="/img/svg/globe.svg">
						<figcaption>{{ getString "vpn-banner-step-2" }}</figcaption>
					</figure>
				</li>
				<li>
					<figure><img src="/img/svg/vpn.svg">
						<figcaption>{{ getString "vpn-banner-step-3" }}</figcaption>
					</figure>
				</li>
			</ol>
		</div>
		<button class="vpn-banner-close"></button>
		</section>
	</aside>
{{/with}}
