<div id="what-to-do">
  <div class="section-wrapper drop-shadow">
    <h3 class="whole section-headline">{{fluentFormat req.supportedLocales "what-to-do-headline"}}</h3>
    <div class="half">
      <div class="num-icon">
        {{> what_to_do_svg number=1 }}
      </div>
      <div class="wrap-col">
        <p class="bold">{{fluentFormat req.supportedLocales "what-to-do-subhead-1"}}</p>
        <p>{{fluentFormat req.supportedLocales "what-to-do-blurb-1"}}</p>
      </div>
    </div>
    <div class="half">
      <div class="num-icon">
        {{> what_to_do_svg number=2 }}
      </div>
      <div class="wrap-col">
        <p class="bold">{{fluentFormat req.supportedLocales "what-to-do-subhead-2"}}</p>
        <p>{{fluentFormat req.supportedLocales "what-to-do-blurb-2"}}</p>
      </div>
    </div>
    <div class="half">
      <div class="num-icon">
        {{> what_to_do_svg number=3 }}
      </div>
      <div class="wrap-col">
        <p class="bold">{{fluentFormat req.supportedLocales "what-to-do-subhead-3"}}</p>
        <p>{{fluentFormat req.supportedLocales "what-to-do-blurb-3"}}</p>
      </div>
    </div>
    <div class="half">
      <div class="num-icon">
        {{> what_to_do_svg number=4 }}
      </div>
      <div class="wrap-col">
        <p class="bold">{{fluentFormat req.supportedLocales "what-to-do-subhead-4"}}</p>
        <p>{{fluentFormat req.supportedLocales "what-to-do-blurb-4"}}</p> 
      </div>   
    </div>
  </div>
</div>
