<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8" />
    <link rel="stylesheet" href="/dist/app.min.css">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="description" content="Have your accounts been leaked or stolen in a data breach? Find out at Firefox Monitor. Search our database and sign up for alerts." />
    <meta property="og:title" content="Firefox Monitor" />
    <meta property="og:description" content="Have your accounts been leaked or stolen in a data breach? Find out at Firefox Monitor. Search our database and sign up for alerts." />
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="{{ SERVER_URL }}" />
    <meta property="og:image" content="{{ SERVER_URL }}/img/firefox-monitor.png" />
    <meta name="theme-color" content="#002275" />
    <title>{{ title }}</title>
    <script type="text/javascript" src="/dist/app.min.js" defer></script>
    <link rel="icon" href="/img/favicons/favicon-32.png" sizes="32x32" />
    <link rel="icon" href="/img/favicons/favicon-96.png" sizes="96x96" />
    <link rel="icon" href="/img/favicons/favicon-128.png" sizes="128x128" />
    <link rel="icon" href="/img/favicons/favicon-228.png" sizes="228x228" />
  </head>
  <body data-server-url="{{ SERVER_URL }}">
    <div id="content-wrap" class="content-wrap">
      <img id="header-wave" class="wave" src="/img/wave.svg" />
      {{> subscribe_modal/subscribe_modal_wrapper}}
      {{> banners/download_firefox_bar}}
      <header class ="section-wrapper">
        <div class="half">
          <a class="wrap-row" href="/">
            <img alt="Firefox Logo" class="logo" src="/img/firefox-monitor-logo.png" />
            <h1><span class="demi">Firefox</span> Monitor</h1>
          </a>
        </div>
        <div class="half social_container">
          {{> social_media_sharing_buttons}}
        </div>
      </header>
        {{{ body }}}
      <img id="footer-wave" class="wave" src="/img/wave.svg" />
    </div>
        <footer id="footer">
      <div class="section-wrapper">
        <div class="third">
          <a {{> analytics/link_event eventLabel="Mozilla Logo"}} class="footer-logo-wrapper" href="https://www.mozilla.org/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener"><img src="/img/moz-logo-bw-rgb.svg" alt="Mozilla Logo" /></a>
        </div>
        <ul class="third">
          <li>Support</li>
          <li><a {{> analytics/link_event eventLabel="Give Feedback"}} href="https://qsurvey.mozilla.com/s3/Firefox-Monitor-Feedback" target="_blank" rel="noopener">Give Feedback</a></li>
          <li><a {{> analytics/link_event eventLabel="Terms & Privacy"}} href="https://www.mozilla.org/privacy/firefox-monitor/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">Terms&nbsp;and&nbsp;Privacy</a></li>
          <li><a {{> analytics/link_event eventLabel="GitHub"}} href="https://github.com/mozilla/blurts-server/" target="_blank" rel="noopener noreferrer"><img src="/img/github.svg" alt="GitHub Logo" /></a></li>
        </ul>
        <ul class="third">
          <li>Firefox</li>
          <li><a {{> analytics/download_event eventLabel="Quantum"}} href="https://www.mozilla.org/firefox/new/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">Download Firefox Quantum</a></li>
          <li><a {{> analytics/download_event eventLabel="Mobile"}} href="https://www.mozilla.org/firefox/mobile/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">Download Firefox Mobile</a></li>
          <li><a {{> analytics/link_event eventLabel="Features"}} href="https://www.mozilla.org/firefox/features/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">Features</a></li>
          <li><a {{> analytics/download_event eventLabel="Beta, Nightly, Developer Edition"}} href="https://www.mozilla.org/firefox/channel/desktop/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">Beta, Nightly, Developer Edition</a></li>
        </ul>
      </div>
      <div class="section-wrapper">
        <div class="two-thirds copyright-info">
          <p>Portions of this content are &copy; 1998-2018 by individual mozilla.org contributors. <br />Content available under a <a {{> analytics/link_event eventLabel="Creative Commons"}} href="https://www.mozilla.org/foundation/licensing/website-content/" target="_blank" rel="noopener">Creative Commons license</a>.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
