<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/dist/app.min.css">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="description" content="{{fluentFormat req.supportedLocales "site-description"}}" />
    <meta property="og:title" content="Firefox Monitor" />
    <meta property="og:description" content="{{fluentFormat req.supportedLocales "site-description"}}" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="{{ SERVER_URL }}" />
    <meta property="og:image" content="{{ SERVER_URL }}/img/firefox-monitor.png" />
    <meta name="theme-color" content="#002275" />
    <title>{{ title }}</title>
    <script type="text/javascript" src="/dist/app.min.js" defer></script>

    {{#if ENABLE_PONTOON_JS}}
      <script src="https://pontoon.mozilla.org/pontoon.js"></script>
    {{/if}}
    <link rel="icon" href="/img/favicons/favicon-32.png" sizes="32x32" />
    <link rel="icon" href="/img/favicons/favicon-96.png" sizes="96x96" />
    <link rel="icon" href="/img/favicons/favicon-128.png" sizes="128x128" />
    <link rel="icon" href="/img/favicons/favicon-228.png" sizes="228x228" />
  </head>
  <body data-server-url="{{ SERVER_URL }}">
    <div id="content-wrap" class="content-wrap">
      {{> subscribe_modal/subscribe_modal_wrapper}}
      {{> banners/download_firefox_bar}}
      <header class ="section-wrapper">
        <div class="half">
          <a class="wrap-row" href="/">
            <div class="firefox-logo"></div>
            <h1><span class="demi">Firefox</span> Monitor</h1>
          </a>
        </div>
        <div class="half social_container">
          {{> social_media_sharing_buttons}}
        </div>
      </header>
        {{{ body }}}
    </div>
        <footer id="footer">
      <div class="section-wrapper">
        <div class="third">
          <a {{> analytics/link_event eventLabel="Mozilla Logo"}} class="footer-logo-wrapper" href="https://www.mozilla.org/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener" aria-label="Mozilla">{{> sprite symID="Mozilla" }}</a>
        </div>
        <ul class="third">
          <li>{{fluentFormat req.supportedLocales "layout-support" }}</li>
          <li><a {{> analytics/link_event eventLabel="About Firefox alerts"}} href="https://blog.mozilla.org/security/2018/11/12/when-does-firefox-alert-for-breached-sites" target="_blank" rel="noopener">{{{fluentFormat req.supportedLocales "about-firefox-alerts"}}}</a></li>
          <li><a {{> analytics/link_event eventLabel="Give Feedback"}} href="https://qsurvey.mozilla.com/s3/Firefox-Monitor-Feedback" target="_blank" rel="noopener">{{{fluentFormat req.supportedLocales "give-feedback"}}}</a></li>
          <li><a {{> analytics/link_event eventLabel="Terms & Privacy"}} href="https://www.mozilla.org/privacy/firefox-monitor/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">{{{fluentFormat req.supportedLocales "terms-and-privacy"}}}</a></li>
          <li><a {{> analytics/link_event eventLabel="GitHub"}} href="https://github.com/mozilla/blurts-server/" target="_blank" rel="noopener noreferrer">{{> sprite symID="GitHub"}}</a></li>
        </ul>
        <ul class="third">
          <li>{{fluentFormat req.supportedLocales "layout-Firefox"}}</li>
          <li><a {{> analytics/download_event eventLabel="Quantum"}} href="https://www.mozilla.org/firefox/new/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">{{fluentFormat req.supportedLocales "download-firefox-quantum"}}</a></li>
          <li><a {{> analytics/download_event eventLabel="Mobile"}} href="https://www.mozilla.org/firefox/mobile/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">{{fluentFormat req.supportedLocales "download-firefox-mobile"}}</a></li>
          <li><a {{> analytics/link_event eventLabel="Features"}} href="https://www.mozilla.org/firefox/features/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">{{fluentFormat req.supportedLocales "features"}}</a></li>
          <li><a {{> analytics/download_event eventLabel="Beta, Nightly, Developer Edition"}} href="https://www.mozilla.org/firefox/channel/desktop/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">{{fluentFormat req.supportedLocales "beta-nightly-developer-edition"}}</a></li>
        </ul>
      </div>
      <div class="section-wrapper">
        <div class="two-thirds copyright-info">
          <p>{{{fluentFormat req.supportedLocales "copyright-info"}}}</p>
        </div>
      </div>
    </footer>
  </body>
</html>
