<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8" />
    {{> imports }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="description" content="{{getString "og-site-description"}}" />
    <meta name="theme-color" content="#002275" />
    <meta property="og:title" content="{{getString "share-facebook-headline"}}" />
    <meta property="og:description" content="{{getString "share-facebook-blurb"}}" />
    <meta property="og:url" content="{{ SERVER_URL }}" />
    <meta property="og:image" content="{{ SERVER_URL }}/img/firefox-monitor.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Firefox Monitor" />
    <meta name="twitter:description" content="{{getString "share-twitter"}}" />
    <title>{{ title }}</title>
    {{#if ENABLE_PONTOON_JS}}
      <script src="https://pontoon.mozilla.org/pontoon.js"></script>
    {{/if}}
    <link rel="icon" href="/img/favicons/favicon-64.png" sizes="64x64" />
    <link rel="icon" href="/img/favicons/favicon-128.png" sizes="128x128" />
    <link rel="icon" href="/img/favicons/favicon-256.png" sizes="256x256" />
  </head>
  <body {{> analytics/default_dataset }} data-bento-app-id="fx-monitor" {{#if experimentFlags.experimentBranch }} {{> analytics/experiment }} {{/if}}>
    {{> header/header }}
      {{{ body }}}
    {{> footer }}
  </body>
</html>
