<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
  <meta charset="utf-8" />
  <title>Firefox Monitor: Email L10n</title>

  {{#if ENABLE_PONTOON_JS}}
  <script src="https://pontoon.mozilla.org/pontoon.js"></script>
  {{/if}}
  <style>
    /* styles for mockup page (nav, etc) */
    /* make sure these don't interfere with email layout styles */
  
    header {
      background: repeating-linear-gradient(45deg, #afafaf, #afafaf 1px, #a8a8a8 2px, #a8a8a8 4px);
      color: #eee;
      padding: 12px;
      text-align: center;
      box-shadow: inset 0 -3px 6px rgba(0 0 0 / 0.2);
    }
  
    header nav {
      display: flex;
      justify-content: space-evenly;
      flex-flow: wrap;
      max-width: 1600px;
      margin: auto;
      background: #666;
      font-size: 14px;
    }
  
    header nav a {
      margin: 12px;
      color: inherit;
    }
  
    header nav a:active {
      color: white;
    }
  
    header form>* {
      margin: 12px 0;
      padding: 0 12px;
      border: 0;
      height: 30px;
      font-size: 14px;
    }
  
    header button {
      color: #eee;
      background-color: #666;
      cursor: pointer;
    }
  
    header p {
      color: black;
    }
  </style>
  
  {{{ emailStyle }}}

</head>

<body data-server-url="{{ SERVER_URL }}" class="email-locale-testing">
  <header>
    <nav>
      <a href="/email-l10n/?partial=email_verify&type=email_verify">Verification Email</a>
      <a href="/email-l10n/?partial=report&type=singleBreach">Report with Single Breach</a>
      <a href="/email-l10n/?partial=report&type=multipleBreaches">Report with Multiple Breaches</a>
      <a href="/email-l10n/?partial=report&type=noBreaches">Report with No Breaches</a>
      <a href="/email-l10n/?partial=alert&type=alert">Breach Alert</a>
      <a href="/email-l10n/?partial=email-monthly-unresolved&type=email-monthly-unresolved">Monthly Unresolved</a>
      </nav>
    <form method="POST" action="send-test-email">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <input type="hidden" name="whichPartial" value="{{ whichPartial }}">
      <input type="hidden" name="partialType" value="{{ partialType }}">
      <input type="email" name="recipientEmail" placeholder="Recipient email" style="text-align: right">
      <button type="submit">Send test email</button>
    </form>
    <p><strong>Subject: </strong>{{ emailSubject }}</p>
    
    </header>
    
    <main style="font: normal 16px/1.2 sans-serif; color: black">
      <table style="width: 100%; max-width:1080px; margin: auto; text-align: center;" role="presentation" border="0"
        cellpadding="0" cellspacing="0">
    
        {{> email_partials/email-header }}
        {{> (lookup . 'whichPartial')}}
        {{> email_partials/email-footer }}
      </table>
    </main>
    </body>

</html>