<div class="remove-filter-key flx flx-grow cntr">
  <span class="remove-filter-label">{{getRemoveString "remove-filter-label"}}</span>
  <ul class="remove-filter-key-list flx">
    {{#getRemovalFilters}}
      {{#each this.filters}}
        <li class="remove-filter-key-list-item" data-id="{{this.id}}">
          <button class="remove-filter-key-button flx jst-cntr">
            <img
              class="remove-filter-key-list-icon"
              src="{{this.icon}}"
              alt="{{this.statusText}} icon"
              aria-hidden="true"
            />
            <span
              class="remove-filter-key-list-title"
            >{{this.statusText}}</span>
          </button>
        </li>
      {{/each}}
    {{/getRemovalFilters}}
  </ul>
</div>