<div class="remove-other-projects-container">
  <h3 class="remove-other-projects-title">
    {{getString "remove-other-projects-title"}}
  </h3>
  <ul class="remove-other-projects-list flx flx-col">
    <li class="remove-other-projects-item">
      <a href="#" class="remove-other-projects-link">{{getString
          "remove-other-projects-nightly"
        }}</a>:
      {{getString "remove-other-projects-nightly-description"}}
    </li>
    <li class="remove-other-projects-item">
      <a href="#" class="remove-other-projects-link">{{getString
          "remove-other-projects-community"
        }}</a>:
      {{getString "remove-other-projects-community-description"}}
    </li>
  </ul>
</div>