 
 
 <div class="about-noodles">
  <main class="clear-header about-fxm" data-page-label="About Firefox Monitor">
      <div class="row about-row">
        <div class="col-8">
          <div class="fx-monitor-svg"></div>
          <h2 class="headline wrap-headline">{{ getString "landing-headline" }}</h2>
          <p class="wrap-headline">{{ getString "fxm-warns-you" }}</p>
        </div>
      </div>
  </main>
 </div>
  <section class="bg-white container">
    <div class="row about-row flx-col">
      <div class="content-wrap">
        <div class="col-12">
          <h3>{{ getString "how-fxm-works" }}</h3>
        </div>
        <div class="col-12 how-fxm-works no-vertical-padding">
          {{#each (getAboutPageStrings) }}
            <div class="fxm-card-wrap">
              <div class="fxm-card">
                <h4 class="how-fxm-headline">{{ this.headline }}</h4>
                <p class="how-fxm-works-blurb">{{ this.subhead }}</p>
                {{#if this.scan }}
                  <a class="text-link" href="/">{{ this.scan }}</a>    
                {{/if}}
                {{#if this.signUp }}
                  <button {{> analytics/fxa id="fx-monitor-about-page-sign-up" }} data-event-category="About Page SignUp" class="text-link open-oauth">
                    {{ this.signUp }}
                  </button>    
                {{/if}}
                {{#if this.download }}
                  <a class="text-link" target="_blank" href="https://www.mozilla.org/firefox">{{ this.download }}</a>  
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
