<main class="clear-header about-fxm container" data-page-label="About Firefox Monitor">
    <div class="row about-row">
      <div class="col-8">
        <div class="fx-monitor-svg"></div>
        <h2 class="headline mw-550">{{ getString "landing-headline" }}</h2>
        <p class="mw-550 sb-callout-body">{{ getString "fxm-warns-you" }}</p>
      </div>
    </div>
    <section class="row">
      <div class="gradient-inset about-row flx-col">
        <div class="content-wrap">
          <div class="col-12 txt-cntr">
            <h3 class="feature-tip-headline bold ff-met">{{ getString "how-fxm-works" }}</h3>
          </div>
            <div class="col-12 how-fxm-works flx-row no-vertical-padding space-between">
              {{#each (getAboutPageStrings) }}
                <div class="fxm-card-wrap flx">
                  <div class="fxm-card flx flx-col space-between">
                    <div class="txt-cntr">
                      <h4 class="how-fxm-headline feature-title ff-met">{{ this.headline }}</h4>
                      <p class="how-fxm-works-blurb feature-subhead txt-light">{{ this.subhead }}</p>
                    </div>
                    {{#ifCompare this.ctaId "===" "signUp"}} 
                      <button {{> analytics/fxa id="fx-monitor-about-page-sign-up" }} data-event-category="About Page SignUp" class="btn-violet-secondary btn-transparent btn-small open-oauth about-cta">
                        {{ this.localizedCta }}
                      </button>
                    {{else}}
                      <a class="btn-violet-secondary btn-transparent btn-small about-cta send-ga-ping" data-event-category="{{ eventCategory}}" data-event-label="About Page" data-event-action="Click" {{#if download}} target="_blank" {{/if}} href="{{ this.href }}">{{ this.localizedCta }}</a>
                    {{/ifCompare}}
                  </div>
                </div>
              {{/each}}
            </div>å
          </div>
        </div>
      </section>
    </main>