{{#getBreachDetail}}

  <main id="breach-detail" class="breach-detail container clear-header bg-white" data-page-label="Breach Detail">
    <div class="row jst-cntr">
      <div class="col-9 flx-cntr">
        <div class="breach-detail-logo-wrapper">
          <img class="breach-detail-logo breach-logo" alt="{{ breach.Name }} logo" src="/img/logos/{{ breach.LogoPath }}" />
        </div>
        <h2 class="headline breach-detail-headline">{{ breach.Title }}</h2>
        <a class="breach-type demi" href="#what-is-this-breach">{{ category }}</a>
        {{#if changePWLink}}
          <h1><a class="change-pw-site btn-small btn-violet-secondary btn-transparent" rel="nofollow noopener noreferrer" target="_blank" href="{{ changePWLink }}">{{changePWLinkTitle}}</a></h1>
        {{/if}}
      </div>
    </div>
  </main>

<!--dataClasses-->
  <section class="bg-light">
    <div class="row jst-cntr flx-col">
      <div class="col-8 overview">
        {{> breach-detail-content-group overview}}
        {{#if delayedReporting }}
          <a class="text-link" href="#delayed-reporting">
            {{delayedReporting.headline}}
          </a>
        {{/if}}
      </div>
    </div>
  </section>
  <section class="detail-section bg-white">
    <div class="row jst-cntr flx-col">
      <div class="col-8 breach-details">
        {{> breach-detail-content-group dataClasses}}
        {{> hibp-attribution}}
      </div>
    </div>
  </section>

  <section class="detail-section bg-light">
    <div class="row jst-cntr flx-col">
      <div class="col-8 breach-detail what-to-do-tips">
        {{> breach-detail-content-group whatToDoTips}}
      </div>
    </div>
  </section>
  <section class="detail-section bg-white">
    <div class="row jst-cntr flx-col">
      {{#unless ./../req.session.user}}
        {{> sign-up-banners/scan-results-sign-up }}
      {{/unless}}
      <div id="what-is-this-breach" class="col-8 breach-details">
        {{> breach-detail-content-group whatIsThisBreach}}
      </div>
      {{#if delayedReporting}}
        <div id="delayed-reporting" class="col-8 breach-details">
          {{> breach-detail-content-group delayedReporting}}
        </div>
      {{/if}}
    </div>
  </section>
{{/getBreachDetail}}
