<main id="breach-detail" class="breach-detail container clear-header">
  <div class="row jst-cntr">
    <div class="col-9 flx-cntr">
      <div class="breach-detail-logo-wrapper">
        <img class="breach-detail-logo breach-logo" alt="{{ featuredBreach.Name }} logo" src="/img/logos/{{ featuredBreach.LogoPath }}" />
      </div>
      <h2 class="headline">{{featuredBreach.Name}}</h2>
      <h3 class="breach-type">{{breachCategory}}</h3>
    </div>
  </div>
</main>
{{#getBreachDetail}}
  <section class="bg-white">

    {{#if overview}}
      <div class="row jst-cntr">
        <div class="col-9 padding-top-zero">
          {{> breach-detail-content-group overview}}
          {{#if delayedReporting }}
            <a class="text-link" href="#{{delayedReporting.href}}">
              {{delayedReporting.headline}}
            </a>
          {{/if}}
        </div>
      </div>
    {{/if}}

    {{#if dataClasses }}
      <div class="row jst-cntr">
        <div class="col-9 padding-top-zero">
          {{> breach-detail-content-group dataClasses}}
          {{> hibp-attribution}}
        </div>
      </div>
    {{/if}}
  </section>

  <section class="bg-white wtd-tips">
    {{#if whatToDoTips }}
      <div class="row jst-cntr">
        <div class="col-9">
          {{> breach-detail-content-group whatToDoTips}}
        </div>
      </div>
    {{/if}}
  </section>

  <section class="container bg-white">
    {{#if sensitiveBreach }}
      <div class="row jst-cntr">
        <div class="col-9">
          {{> breach-detail-content-group sensitiveBreach}}
        </div>
      </div>
    {{/if}}

    {{#if delayedReporting }}
      <div id="{{ delayedReporting.href }}" class="row jst-cntr">
        <div class="col-9">
          {{> breach-detail-content-group delayedReporting}}
        </div>
      </div>
    {{/if}}
  </section>

{{/getBreachDetail}}

{{> sign-up-banners/scan-results-sign-up }}
