{{#getBreachDetail}}
{{> breach-resolution-modal }}
  <main id="breach-detail" class="breach-detail {{#unless affectedEmailNotification}} clear-header {{/unless}} bg-white flx jst-cntr" data-page-label="Breach Detail">
    <div class="mw-700 detail-section flx-cntr flx flx-col">
      {{#if affectedEmailNotification}}
      <div class="affected-email-notification drop-shadow">
        <p class="ff-Met demi affected-email-message">{{{ this.affectedEmailNotification }}}</p>
      </div>
      {{/if}}
      <div class="breach-detail-logo-wrapper">
        <img class="breach-detail-logo breach-logo" alt="{{ breach.Name }} logo" src="{{ breach.LogoUrl }}" />
      </div>
      <h2 class="headline breach-detail-headline txt-cntr">{{ breach.Title }}</h2>
      {{#if breach.Domain}}
        <a class="blue-link send-ga-ping" href="https://www.{{ breach.Domain }}" rel="nofollow noopener noreferrer" data-event-label="{{ breach.Domain }}" data-event-action="Engage" data-event-category="Breach Detail: Website URL Link" target="_blank">www.{{ breach.Domain }}</a>
      {{/if}}
      <a class="breach-type demi" href="#what-is-this-breach">{{ category }}</a>
    </div>
  </main>

  <!-- Overview -->
  <section class="detail-section jst-cntr flx flx-col">
    {{> breach-detail-content-group overview sectionId="overview" delayedReporting=./delayedReporting}}
  </section>

  <!--Exposed Data Classes -->
  <section class="detail-section bg-white jst-cntr flx flx-col">
    {{> breach-detail-content-group dataClasses sectionId="dataClasses" name=./breach.Name treatmentBranch=./experimentFlags.treatmentBranch}}
  </section>

  <!-- What to do tips -->
  <section id="what-to-do-next" class="detail-section jst-cntr flx flx-col">
    {{> breach-detail-content-group recommendations sectionId="breach-recommendations"}}
  </section>

  <!-- Sign Up Banner -->
  <section class="detail-section bg-split flx jst-cntr flx-col">
    <div class="mw-700 padding-0">
      {{#if affectedEmails}}
        {{> affected-emails}}
      {{else}}
        {{> product-promo}}
      {{/if}}
    </div>
  </section>

  <!-- What is this breach? / Why did it take you so long to report it?-->
  <section class="detail-section bg-white jst-cntr flx flx-col">
    <div id="what-is-this-breach">
      {{> breach-detail-content-group whatIsThisBreach smallerSectionHeadline=true}}
    </div>
    {{#if delayedReporting}}
      <div id="delayed-reporting">
        {{> breach-detail-content-group delayedReporting sectionId="delayed-reporting" smallerSectionHeadline=true}}
      </div>
    {{/if}}
    <!-- show product promo here if breach resolution window is taking up space above-->
    {{#if affectedEmails}}
      <div class="mw-700 promo-wrapper">
        {{> product-promo }}
      </div>
    {{/if}}
  </section>
{{/getBreachDetail}}
