{{#getBreachDetail}}

  <main id="breach-detail" class="breach-detail container clear-header bg-white" data-page-label="Breach Detail">
    <div class="row jst-cntr">
      <div class="col-9 flx-cntr">
        <div class="breach-detail-logo-wrapper">
          <img class="breach-detail-logo breach-logo" alt="{{ breach.Name }} logo" src="/img/logos/{{ breach.LogoPath }}" />
        </div>
        <h2 class="headline breach-detail-headline txt-cntr mw-8">{{ breach.Title }}</h2>
        {{#if breach.Domain}}
          <a class="blue-link send-ga-ping" href="https://www.{{ breach.Domain }}" rel="nofollow noopener noreferrer" data-event-label="{{ breach.Domain }}" data-event-action="Engage" data-event-category="Breach Detail: Website URL Link" target="_blank">www.{{ breach.Domain }}</a>
        {{/if}}
        <a class="breach-type demi" href="#what-is-this-breach">{{ category }}</a>
      </div>
    </div>
  </main>

<!--dataClasses-->
  <section class="bg-light detail-section">
    <div class="row jst-cntr flx-col">
      <div class="mw-8 overview">
        {{> breach-detail-content-group overview}}
        {{#if delayedReporting }}
          <a class="text-link blue-link" href="#delayed-reporting">
            {{delayedReporting.headline}}
          </a>
        {{/if}}
      </div>
    </div>
  </section>
  <section class="detail-section bg-white">
    <div class="row jst-cntr flx-col">
      <div class="mw-8 breach-details">
        {{> breach-detail-content-group dataClasses}}
      </div>
    </div>
  </section>

  <section class="detail-section bg-light">
    <div class="row jst-cntr flx-col">
      <div class="mw-8 breach-detail what-to-do-tips">
        {{> breach-detail-content-group whatToDoTips}}
      </div>
    </div>
  </section>
  <section class="bg-split">
    <div class="row jst-cntr flx-col">
      {{#unless ./../req.session.user}}
        {{> sign-up-banners/breach-detail-sign-up-banner }}
      {{/unless}}
    </div>
  </section>
  <section class="detail-section bg-white">
    <div class="row jst-cntr flx-col">
      <div id="what-is-this-breach" class="mw-8 breach-details">
        {{> breach-detail-content-group whatIsThisBreach}}
      </div>
      {{#if delayedReporting}}
        <div id="delayed-reporting" class="mw-8 breach-details">
          {{> breach-detail-content-group delayedReporting}}
        </div>
      {{/if}}
    </div>
  </section>
{{/getBreachDetail}}
