{{#getBreachDetail}}

  <main id="breach-detail" class="breach-detail container clear-header bg-white">
    <div class="row jst-cntr">
      <div class="col-9 flx-cntr">
        <div class="breach-detail-logo-wrapper">
          <img class="breach-detail-logo breach-logo" alt="{{ breach.Name }} logo" src="/img/logos/{{ breach.LogoPath }}" />
        </div>
        <h2 class="headline breach-detail-headline">{{ breach.Title }}</h2>
        <h3 class="breach-type"><a href="#what-is-this-breach">{{ category }}</a></h3>
      </div>
    </div>
  </main>

<!--dataClasses-->
  <section class="bg-light">
    <div class="row jst-cntr flx-col">
      <div class="col-8 overview">
        {{> breach-detail-content-group overview}}
        {{#if delayedReporting }}
          <a class="text-link" href="#{{delayedReporting.href}}">
            {{delayedReporting.headline}}
          </a>
        {{/if}}
      </div>
    </div>
  </section>
  <section class="detail-section bg-white">
    <div class="row jst-cntr flx-col">
      <div class="col-8 breach-details">
        {{> breach-detail-content-group dataClasses}}
        {{> hibp-attribution}}
      </div>
    </div>
  </section>

  <section class="detail-section bg-light">
    <div class="row jst-cntr flx-col">
      <div class="col-8 breach-detail what-to-do-tips">
        {{> breach-detail-content-group whatToDoTips}}
      </div>
    </div>
  </section>
  <section class="detail-section bg-white">
    <div class="row jst-cntr flx-col">
      {{> sign-up-banners/scan-results-sign-up }}
      <div id="what-is-this-breach" class="col-8 breach-details">
        {{> breach-detail-content-group whatIsThisBreach}}
      </div>
      {{#if sensitiveBreach }}
        <div class="col-8 breach-details">
          {{> breach-detail-content-group sensitiveBreach}}
        </div>
      {{/if}}
      {{#if delayedReporting}}
        <div class="col-8 breach-details">
          {{> breach-detail-content-group delayedReporting}}
        </div>
      {{/if}}
    </div>
  </section>
{{/getBreachDetail}}
