<section class="clear-header sr jst-cntr flx" data-page-label="Data brokers">
    <div class="field">
      <h2 class="headline mw-550">Remove Personal Information from Data Brokers</h2>
    </div>
</section>
{{#unless profileData }}
  <section class="flx flx-col">
    <p class="field">Enter the information below to find websites that are publishing your personal info and request its removal.</p>
    <form action="/brokers" method="post" data-csrf-token="{{ csrfToken }}" class="profile-data flx flx-col">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <div class="field">
        <label for="first_name">
          First name
        </label>
        <input type="text" id="first_name" name="first_name" value="{{ profileData?.first_name }}"/>
      </div>
      <div class="field">
        <label for="last_name">
          Last Name
        </label>
        <input type="text" id="last_name" name="last_name" value="{{ profileData?.last_name }}"/>
      </div>
      <div class="field">
        <label for="city">
          City
        </label>
        <input type="text" id="city" name="city" value="{{ profileData?.city }}"/>
      </div>
      <div class="field">
        <label for="state">
          U.S. State
        </label>
        <select name="state" id="state">
          {{#each validStates }}
            <option value="{{ @key }}">{{ this }}</option>
          {{/each }}
        </select>
      </div>
      <div class="field">
        <input type="submit" value="Request removal" />
      </div>
    </form>
  </section>
{{/unless }}
{{#if profileData }}
  <section class="flx flx-col">
    <p class="field">
      {{#if scanResults }}
        We scanned for websites publishing (parts of) the following personal info:
      {{else}}
        Scanning for websites publishing (parts of) the following personal info:
      {{/if}}
    </p>
    <div class="field">
      <dl>
        <dt>First name</dt>
        <dd>{{ profileData.first_name }}</dd>
        <dt>Last name</dt>
        <dd>{{ profileData.last_name }}</dd>
        {{#each profileData.addresses }}
          <dt>City</dt>
          <dd>{{ this.city }}</dd>
          <dt>State</dt>
          <dd>{{ lookup ../validStates this.state }}</dd>
        {{/each}}
      </dl>
    </div>
  </section>
  <section class="flx flx-col">
    {{#if scanResults }}
      <h3 class="field scan-results-heading">
        Scan results
      </h3>
      <div class="field">
        {{#ifCompare scanStats.newCount "===" 0 }}
          <p>The scan was initiated at {{ profileData.created_at }}.</p>
        {{/ifCompare}}
        {{#ifCompare scanStats.newCount ">" 0 }}
          <p>We found {{ scanStats.newCount }} websites publishing your personal data at {{ profileData.created_at }}.</p>
          <p>We are working to request the removal of your data; please stay tuned. This page will automatically refresh.</p>
          <script defer fetchpriority="low" src="/dist/autorefresh.js"></script>
        {{/ifCompare}}
      </div>
      <div class="field scan-results-wrapper">
        {{#each scanResults }}
          <div class="scan-result">
            <div class="scan-result-header">
              <h4>
                {{ data_broker  }}
              </h4>
              {{#ifCompare status "===" "new" }}
                <span class="status is-new">New</span>
              {{/ifCompare}}
              {{#ifCompare status "===" "optout_in_progress" }}
                <span class="status is-optout_in_progress">Removal requested</span>
              {{/ifCompare}}
              {{#ifCompare status "===" "waiting_for_verification" }}
                <span class="status is-waiting_for_verification">Removal requested</span>
              {{/ifCompare}}
              {{#ifCompare status "===" "removed" }}
                <span class="status is-removed">Data removed</span>
              {{/ifCompare}}
              <button class="toggle-scan-result-button svg-wrap">
                {{> svg/toggle-down }}
              </button>
            </div>
            <div class="scan-result-body">
              <p>Data found at <time>{{created_at}}</time>.</p>
              <dl>
                {{#if first_name }}
                  <div>
                    <dt>First name</dt>
                    <dd>{{ first_name }}</dd>
                  </div>
                {{/if}}
                {{#if middle_name }}
                  <div>
                    <dt>Middle name</dt>
                    <dd>{{ middle_name }}</dd>
                  </div>
                {{/if}}
                {{#if last_name }}
                  <div>
                    <dt>Last name</dt>
                    <dd>{{ last_name }}</dd>
                  </div>
                {{/if}}
                {{#if age }}
                  <div>
                    <dt>Age</dt>
                    <dd>{{ age }}</dd>
                  </div>
                {{/if}}
                {{#if addresses }}
                  <div>
                    <dt>Addresses</dt>
                    <dd>
                      <ul>
                      {{#each addresses }}
                        <li>{{ this.zip }} {{ this.street }} {{ this.city }} {{ lookup ../../validStates this.state }}</li>
                      {{/each}}
                      </ul>
                    </dd>
                  </div>
                {{/if}}
                {{#if emails }}
                  <div>
                    <dt>E-mails</dt>
                    <dd>
                      <ul>
                      {{#each emails }}
                        <li><a href="mailto:{{ this }}">{{ this }}</a></li>
                      {{/each}}
                      </ul>
                    </dd>
                  </div>
                {{/if}}
                {{#if relatives }}
                  <div>
                    <dt>Relatives</dt>
                    <dd>
                      <ul>
                      {{#each relatives }}
                        <li>{{ this }}</li>
                      {{/each}}
                      </ul>
                    </dd>
                  </div>
                {{/if}}
              </dl>
              <a href="{{ link }}">Source</a>
            </div>
          </div>
        {{/each }}
      </div>
    {{else }}
      <p class="field">The scan was initiated at {{ profileData.created_at }} and is still in progress. This page will automatically refresh to check for updates.</p>
      <script defer fetchpriority="low" src="/dist/autorefresh.js"></script>
    {{/if }}
  </section>
{{/if }}
