{{!< default }}
{{#if viewResults  }}
<main class="container bg-light clear-header" {{> analytics/results_page_label }}>
  <div class="row jst-cntr scan-results">

    <div class="mw-860 headline-col overflow-break">
        <p id="scanned-email-address" class="scanned-email-address">Results for: <span class="bold">{{ ip }}</span></p>

{{#if hostRes }}
        <h2 class="headline scan-results-headline">This IP is located in <br/><span class="bold">{{ hostRes.city }}, {{ hostRes.country_name }}</span>,<br/> and connected via <br/><span class="bold">{{ hostRes.isp }}</span>.<br/>It has <span class="bold">{{ hostRes.data.length }}</span> open devices.</h2>
{{ else }}
        <h2 class="headline scan-results-headline">This IP is showing <span class="bold">0</span> <br> open devices.</h2>
        <h6>(Click <a href="/scan/ip/example">here</a> to see an example device.)</h6>
{{/if }}
    </div>
  </div>

{{#if hostRes }}
  <div class="row jst-cntr user-found-breaches fix-col">
  <div class="mw-860 found-breaches scan-res-breaches">
  {{#each hostRes.data}}
      <a class="breach-card two-up drop-shadow ">
        <div class="breach-logo-wrapper flx">
          <img alt="" class="breach-logo breach-img" src="/img/logos/missing-logo-icon.png">
        </div>
        <div class="breach-info-wrapper flx flx-col">
          <div class="flx flx-col">
            <span class="breach-title">{{ this.devicetype }}</span>
                        <span class="breach-key">Product:</span>
                        <span class="breach-value">{{ this.product }}</span>
                        <span class="breach-key">OS:</span>
                        <span class="breach-value">{{ this.os }}</span>
                        <span class="breach-key">Port:</span>
                        <span class="breach-value">{{ this.port }}</span>
          </div>
          <div class="breach-card-link-wrap">
              <span class="more-about-this-breach blue-link" data-ga-link="" data-event-category="Internal Link" data-event-label="Breach Card: More about this breach">More about this device</span>
          </div>
        </div>
      </a>
  {{/each}}
  </div>
  </div>
{{/if }}

</section>

  <div class="mw-860 txt-cntr source-info-wrap">
    <span class="source-info ">
      Device data provided by <a id="hibp-link" class="text-link medium" href="https://www.shodan.io" data-ga-link="" data-event-category="Utility &amp; Outbound Links" data-event-label="Clicked-shodan" target="_blank" rel="noopener noreferrer">shodan.io</a>
    </span>
  </div>
  <section>
  <div class="row txt-cntr jst-cntr flx-col temp-marketing-callout">
    <img class="temp-marketing-img" src="/img/svg/stay-alert.svg" alt="">
    <h2 class="temp-marketing-hl mw-360">Stay alert for new devices</h2>
    <p class="temp-marketing-p mw-360">If your network exposes a new device, we’ll send you an alert.</p>
    <button class="open-oauth temp-marketing-btn-blue" data-entrypoint="fx-monitor-alert-me-blue-btn" data-flow-id="a0438358297451a6be62dadcd79e273a46cc5796d1ff47eed82ebea0abab1660" data-flow-begin-time="1580304037069" data-event-category="Alert me about new devices - Banner">Alert me about new devices</button>
      <span class="browser-not-required">
        Firefox browser not required for a Firefox Account. You may receive info about Mozilla services.
      </span>
  </div>


{{ else }}
<main class="container monitor-homepage clear-header" data-page-label={{> analytics/landing_page_label }}>
  <section class="row jst-cntr monitor-landing">
    <div class="col-12 flx-cntr landing-content">
          <h2 class="top-headline landing-headline">See if your devices are hackable.</h2>
          <h3 class="subhead landing-subhead">Your IP address is {{ ip }}. Find out what hackers can see on your network.</h3>
          <form action="/scan/ip" method="post">
              <div class="input-group-button">
                  <input type="submit" value="Check for open devices">
                  <img class="loader" src="/img/svg/new-loader.svg" alt="">
              </div>
          </form>
      </div>

    </section>
</main>
{{/if }}

{{> linking-data/firefox-monitor-product }}
