{{!< default }}
<main class="landing-content">
  <section class="section-wrapper">
    <div class="half">
      <h2 data-location="landing-page" class="section-headline">{{{fluentFormat req "landing-headline"}}}</h2>
      {{#if featuredBreach }}
        <span data-location="featured-breach" class="demi form-desc">{{{fluentFormat req "scan-featuredbreach-label" featuredBreach=featuredBreach.Title}}}</span>
        {{> scan_form}}
      {{else}}
        <p class="landing-blurb">
          {{{fluentFormat req "landing-blurb"}}}
        </p>
      {{/if}}
    </div>
    <div class="half">
      {{#if featuredBreach}}
        {{> featured_breach }}
      {{else}}
        <span class="demi form-desc">{{fluentFormat req "scan-label"}}</span>
        {{> scan_form}}
      {{/if}}
    </div>
  </section>
</main>

{{> banners/sign_up_banner}}
{{> password_tips }}
{{> banners/download_firefox_banner}}
