<main class="container bg-light clear-header" {{> analytics/results_page_label }}>
  <div class="row jst-cntr scan-results">

    <div class="mw-860 headline-col">
      {{#if scannedEmailId }} <!-- show the email address that was scanned -->
        <p id="scanned-email-address" class="scanned-email-address">{{ getString "results-for" userEmail="" }} <span id="scannedEmail" data-scanned-email-id={{ scannedEmailId }} class="bold"></span></p>
      {{/if}}
      {{#if specificBreach}}
        {{#getScanResultsHeadline }}
          <h2 class="headline scan-results-headline fb-res-headline">{{{ this.headline }}}</h2>
          {{#if this.subhead }}
            <h3 class="scan-res-subhead">{{{ this.subhead }}}</h2>
          {{/if}}
        {{/getScanResultsHeadline}}
      {{else}}
        <h2 class="headline scan-results-headline">{{{ fluentNestedBold "scan-results-known-breaches" breachCount=foundBreaches.length }}}</h2>

        <!--temp marketing "Alert me about new breaches" link-->
        {{#if newScanPage}}
          <button class="open-oauth blue-link temp-marketing-alert-me-link" {{> analytics/fxa id="fx-monitor-alert-me-blue-link" }} data-event-category="Alert me about new breaches - Blue link">
            {{ getString "alert-about-new-breaches" }}
          </button>
        {{else}}
          <button class="btn-violet-secondary open-oauth btn-small btn-transparent" {{> analytics/fxa id="fx-monitor-alert-me-btn" }} data-event-category="Alert me about new breaches">
            {{ getString "alert-about-new-breaches" }}
          </button>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="row jst-cntr user-found-breaches flx-col">
    <div class="mw-860 found-breaches scan-res-breaches">
        {{#each (getFoundBreaches)}}
          {{> breach-card cardType="two-up drop-shadow"}}
        {{/each}}
    </div>
    {{#ifCompare foundBreaches.length ">" "0"}}
      <div class="mw-860 txt-cntr source-info-wrap">
        {{> hibp-attribution}}
      </div>
    {{/ifCompare}}
  </div>
</main>
<section>
  {{#if newScanPage}}
  <!--temp marketing Sign Up callout-->
    <div class="row txt-cntr jst-cntr flx-col temp-marketing-callout">
      <h2 class="temp-marketing-hl mw-400">{{ getString "sign-up-headline-1" }}</h2>
      <button class="open-oauth temp-marketing-btn-blue" {{> analytics/fxa id="fx-monitor-alert-me-blue-btn" }} data-event-category="Alert me about new breaches - Blue button">{{ getString "alert-about-new-breaches" }}</button>
      {{> sign-up-banners/browser-not-required }}
    </div>
  {{else}}
    <div class="row jst-cntr flx-col">
      {{> scan-another-email addClass="stacked"}}
    </div>
    <div class="fxa-signup-gradient">
      <div class="row fxa-signup-banner scan-res">
      {{> sign-up-banners/scan-results-sign-up }}
      </div>
    </div>
  {{/if}}
</section>
