<main class="container bg-dark clear-header">
  <div class="row jst-cntr flx-col scan-results">

    <div class="col-9 headline-col no-vertical-padding">
      {{#if scannedEmailId }} <!-- show the email address that was scanned -->
        <p id="scanned-email-address" class="scanned-email-address">Results for <span id="scannedEmail" data-scanned-email-id={{ scannedEmailId }} class="bold"></span></p>
      {{/if}}
      {{#if specificBreach}}
        {{#getScanResultsHeadline }}
          <h2 class="skinny-headline scan-results-headline fb-res-headline">{{{ this.headline }}}</h2>
          {{#if this.subhead }}
            <h3 class="subhead scan-res-subhead">{{{ this.subhead }}}</h2>
          {{/if}}
        {{/getScanResultsHeadline}}
      {{else}}
        <h2 class="skinny-headline scan-results-headline">{{{ fluentNestedBold "guest-scan-results-headline" breachCount=foundBreaches.length }}}</h2>
      {{/if}}
    </div>
  </div>

  <div class="row jst-cntr user-found-breaches">
    <div class="col-9 found-breaches">
      <!-- foundBreaches 1-4 -->
      {{#getFoundBreaches}}
        {{> breach-groups cardType="two-up drop-shadow scan-res"}}
      {{/getFoundBreaches}}
    </div>
  </div>
</main>

{{> sign-up-banners/scan-results-sign-up }}

{{> scan-another-email addClass="stacked"}}
