<main class="container bg-light clear-header" {{> analytics/results_page_label }}>
  <div class="row jst-cntr scan-results">

    <div class="mw-860 headline-col overflow-break">
      {{#if scannedEmailId }} <!-- show the email address that was scanned -->
        <p id="scanned-email-address" class="scanned-email-address">{{ getString "results-for" userEmail="" }} <span id="scannedEmail" data-scanned-email-id={{ scannedEmailId }} class="bold"></span></p>
      {{/if}}
      {{#if specificBreach}}
        {{#getScanResultsHeadline }}
          <h2 class="headline scan-results-headline fb-res-headline">{{{ this.headline }}}</h2>
          {{#if this.subhead }}
            <h3 class="scan-res-subhead">{{{ this.subhead }}}</h2>
          {{/if}}
        {{/getScanResultsHeadline}}
      {{else}}
        <h2 class="headline scan-results-headline">{{{ fluentNestedBold "scan-results-known-breaches" breachCount=foundBreaches.length }}}</h2>
        <button id="new-scan-page"
          class="open-oauth ga-growth-ping {{#if experimentBranchB}} temp-marketing-btn-blue experiment {{else}} blue-link temp-marketing-alert-me-link {{/if}}"
          {{#if experimentBranchB}}
            {{> analytics/fxa id="fx-monitor-alert-me-blue-btn-top" }}
          {{else}}
            {{> analytics/fxa id="fx-monitor-alert-me-blue-link" }}
          {{/if}}
          data-event-category="Alert me about new breaches">
            {{ getString "alert-about-new-breaches" }}
          </button>
      {{/if}}
    </div>
  </div>

  <div class="row jst-cntr user-found-breaches flx-col">
    <div class="mw-860 found-breaches scan-res-breaches">
        {{#each (getFoundBreaches)}}
          {{> breach-card cardType="two-up drop-shadow"}}
        {{/each}}
    </div>
    {{#ifCompare foundBreaches.length ">" "0"}}
      <div class="mw-860 txt-cntr source-info-wrap">
        {{> hibp-attribution}}
      </div>
    {{/ifCompare}}
  </div>
</main>
<section>
  <div class="row txt-cntr jst-cntr flx-col temp-marketing-callout">
    <img class="temp-marketing-img" src="img/svg/stay-alert.svg" alt="" />
    <h2 class="temp-marketing-hl mw-360">{{ getString "stay-alert" }}</h2>
    <p class="temp-marketing-p mw-360">{{ getString "if-your-info" }}</p>
      <!--
        the `data-event-category` attribute for this button is "Alert me about new breaches - Banner"
        to match the "Alert me.." button on the other version of the scan results page and to make comparisons
        between this button and the "Alert me.." button on the other version of the scan results page easier
      -->
    <button class="open-oauth temp-marketing-btn-blue ga-growth-ping {{#if experimentBranchB}} experiment {{/if}}"
    {{#if experimentBranchB}}
      {{> analytics/fxa id="fx-monitor-alert-me-blue-btn-bottom" }}
    {{else}}
      {{> analytics/fxa id="fx-monitor-alert-me-blue-btn" }}
    {{/if}}"
    data-event-category="Alert me about new breaches - Banner">{{ getString "alert-about-new-breaches" }}</button>
    {{> sign-up-banners/browser-not-required }}
  </div>
</section>
