    <footer id="footer">
      <div class="section-wrapper">
        <div class="third">
          <a {{> analytics/link_event eventLabel="Mozilla Logo"}} class="footer-logo-wrapper" href="https://www.mozilla.org/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener" aria-label="Mozilla">{{> sprite symID="Mozilla" }}</a>
        </div>
        <ul class="third">
          <li>{{getString "layout-support" }}</li>
          <li><a {{> analytics/link_event eventLabel="About Firefox alerts"}} href="https://blog.mozilla.org/security/2018/11/14/when-does-firefox-alert-for-breached-sites" target="_blank" rel="noopener">{{{getString "about-firefox-alerts"}}}</a></li>
          <li><a {{> analytics/link_event eventLabel="Give Feedback"}} href="https://qsurvey.mozilla.com/s3/Firefox-Monitor-Feedback" target="_blank" rel="noopener">{{{getString "give-feedback"}}}</a></li>
          <li><a {{> analytics/link_event eventLabel="Terms & Privacy"}} href="https://www.mozilla.org/privacy/firefox-monitor/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">{{{getString "terms-and-privacy"}}}</a></li>
          <li><a {{> analytics/link_event eventLabel="GitHub"}} href="https://github.com/mozilla/blurts-server/" target="_blank" rel="noopener noreferrer">{{> sprite symID="GitHub"}}</a></li>
        </ul>
        <ul class="third">
          <li>{{getString "layout-Firefox"}}</li>
          <li><a {{> analytics/download_event eventLabel="Quantum"}} href="https://www.mozilla.org/firefox/new/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">{{getString "download-firefox-quantum"}}</a></li>
          <li><a {{> analytics/download_event eventLabel="Mobile"}} href="https://www.mozilla.org/firefox/mobile/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">{{getString "download-firefox-mobile"}}</a></li>
          <li><a {{> analytics/link_event eventLabel="Features"}} href="https://www.mozilla.org/firefox/features/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">{{getString "features"}}</a></li>
          <li><a {{> analytics/download_event eventLabel="Beta, Nightly, Developer Edition"}} href="https://www.mozilla.org/firefox/channel/desktop/{{> analytics/utm_site_footer }}" target="_blank" rel="noopener">{{getString "beta-nightly-developer-edition"}}</a></li>
        </ul>
      </div>
      <div class="section-wrapper">
        <div class="two-thirds copyright-info">
          <p class="copyright-info">
            {{getString "copyright" year="2019"}}
            <a href="https://www.mozilla.org/foundation/licensing/website-content/" target="_blank" rel="noopener">
              {{getString "content-available"}}
            </a>
          </p>
        </div>
      </div>
    </footer>
