<section id="confirmation" class="confirmation whole">
  <ul class="sharing-options">
    <li>
      <a id="show-email-options" target="_blank" {{> analytics/share_by_email eventLabel=emailLinks.default-email.client}} rel="noopener noreferrer" href="{{ emailLinks.default-email.href }}">
        <span class="sharing-option email">Email</span>
      </a>
      <ul class="email-options">
         <li class="email-options-wrapper">
           {{#each emailLinks}}
            <a {{> analytics/share_by_email eventLabel=this.client }} target="_blank" rel="noopener noreferrer" href="{{ this.href }}" >
              <span class="email-option {{ this.class }}">{{ this.client }}</span>
            </a>
          {{/each}}
        </li>
      </ul>
    </li>
    <li>
      <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ SERVER_URL }}" target="_blank" rel="noopener noreferrer" {{> analytics/social_event eventLabel="Facebook"}}>
        <span class="sharing-option facebook">Share</span>
      </a>
    </li>
    <li>
      <a class="twitter" href="https://twitter.com/intent/tweet?url={{ SERVER_URL }}" target="_blank" rel="noopener noreferrer" {{> analytics/social_event eventLabel="Twitter"}}>
        <span class="sharing-option twitter">
          Tweet
        </span>
      </a>
    </li>
  </ul>
</section>
