<section id="unsubscribe" class="half">
  <h3
    class="pref-section-headline section-headline txt-purple7 remove"
  >{{getString "remove-risk-heading"}}</h3>
  <p class="subhead txt-light">{{getString "remove-risk-blurb"}}</p>
  <div class="subhead txt-light remove-risk-criteria">
    <ul class="remove-risk-criteria-list">
      <li class="remove-risk-criteria-item">{{getString
          "remove-risk-criteria-1"
        }}</li>
      <li class="remove-risk-criteria-item">{{getString
          "remove-risk-criteria-2"
        }}</li>
      <li class="remove-risk-criteria-item">{{getString
          "remove-risk-criteria-3"
        }}</li>
      <li class="remove-risk-criteria-item">{{getString
          "remove-risk-criteria-4"
        }}</li>
    </ul>
  </div>
  <p class="subhead txt-light remove-risk-rating">
    <span class="remove-risk-title --high">{{getString
        "remove-risk-title-high"
      }}</span>:
    {{getString "remove-risk-rating-high"}}
  </p>
  <p class="subhead txt-light remove-risk-rating">
    <span class="remove-risk-title --med">{{getString
        "remove-risk-title-med"
      }}</span>:
    {{getString "remove-risk-rating-med"}}
  </p>
  <p class="subhead txt-light remove-risk-rating">
    <span class="remove-risk-title --low">{{getString
        "remove-risk-title-low"
      }}</span>:
    {{getString "remove-risk-rating-low"}}
  </p>

</section>