<section id="unsubscribe" class="half">
    <h3 class="pref-section-headline remove">{{ getString "remove-fxm" }}</h3>
    <p class="subhead">{{ getString "remove-fxm-blurb" }}</p>
    <button class="remove-fxm flx" data-form-action="remove-fxm" data-primary-token="{{ primaryToken }}" data-primary-hash="{{ primaryHash }}" href="#">{{ getString "remove-fxm" }}{{> svg/arrow-head-right }}</button>
</section>
