<section id="unsubscribe" class="half">
  <h3 class="pref-section-headline remove">{{{ getString "unsub-headline" }}}</h3>
  <p class="subhead">{{{ getString "unsub-blurb" }}}</p>
  <form action="/user/unsubscribe" class="form-group" method="post" id="unsubscribe-form">
    <input type="hidden" name="token" value="{{ token }}">
    <input type="hidden" name="emailHash" value="{{ hash }}">
    <div class="input-group-button">
      <input type="submit" class="button submit unsub" value="{{getString "unsub-button"}}" data-server-url="{{ SERVER_URL }}">
      {{> forms/loader}}
    </div>
  </form>
</section>
