<section id="unsubscribe-survey" class="unsubscribe-survey section-wrapper drop-shadow">
  <div class="whole">
    <form action="" method="post" id="unsubscribe-survey-form" class="form-group">
      <span class="secondary-title" tabindex="1">{{{getString "unsub-survey-form-label"}}}</span>
      {{#loop 1 6 1}}
        <div class="radio-button-group" tabindex="1">
          <input id="reason{{ this }}" type="radio" name="unsubscribe-reason" data-analytics-label="unsub-reason-{{ this }}" value="{{getStringID ../req.supportedLocales "unsub-reason-" this}}" />
          <span class="radio-dot"></span>
          <label for="reason{{ this }}">{{{getStringID ../req.supportedLocales "unsub-reason-" this}}}</label>
        </div>
      {{/loop}}
      <div class="input-group-button">
        <span class="thank-you-message">{{getString "unsub-survey-thankyou"}}</span>
        <span class="error-message">{{getString "unsub-survey-error"}}</span>
        <input id="unsubscribe-survey-submit" type="submit" class="button submit transparent-button" value="{{getString "unsub-survey-button"}}" tabindex="1" />
        <img class="loader" src="/img/loader.gif" alt="" />
      </div>
    </form>
  </div>
</section>
