<li
  class="remove-dash-results-list-item drop-shadow flx flx-col"
  data-status="{{this.status}}"
>
  <div class="remove-dash-results-summary-container flx space-between">
    <div class="remove-dash-results-site-container flx flx-cntr">
      {{#ifCompare this.status "===" "READY_TO_REMOVE"}}
        <img
          src="/img/svg/remove-in-progress-icon.svg"
          alt="{{getString "remove-filter-in-progress"}}"
          class="remove-dash-results-list-icon"
        />
      {{/ifCompare}}
      {{#ifCompare this.status "===" "REMOVAL_VERIFIED"}}
        <img
          src="/img/svg/remove-filter-key-completed-icon.svg"
          alt="{{getString "remove-filter-completed"}}"
          class="remove-dash-results-list-icon"
        />
      {{/ifCompare}}
      <div class="remove-dash-results-site-name-container flx flx-col">
        <span class="remove-dash-results-site-name">{{this.broker}}</span>
        {{#if this.details}}
          <span class="remove-dash-results-site-details">{{this.details}}</span>
        {{/if}}
      </div>
    </div>
    <div class="remove-dash-results-status-container flx flx-cntr">
      {{#if this.updated_at}}
        <div
          class="remove-dash-results-status-time remove-dash-results-status-el hidden-mobile"
        >
          {{this.updated_at}}
        </div>
      {{/if}}
      {{#ifCompare this.risk_level "===" "HIGH"}}
        <div
          class="remove-dash-results-risk remove-dash-results-status-el risk-high"
        >
          {{getString "remove-risk-high"}}
        </div>
      {{/ifCompare}}

      {{#ifCompare this.risk_level "===" "LOW"}}
        <div
          class="remove-dash-results-risk remove-dash-results-status-el risk-low"
        >
          {{getString "remove-risk-low"}}
        </div>
      {{/ifCompare}}

      <div
        class="remove-dash-results-toggle-container remove-dash-results-status-el"
      >
        <a
          href="#"
          class="remove-dash-results-toggle js-remove-dash-details-toggle"
        >
          <img
            src="/img/svg/chevron-down-grey.svg"
            alt="{{getString "remove-results-toggle-alt"}}"
            class="remove-dash-results-toggle-img"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="remove-dash-results-details-container">
    <ul class="remove-dash-results-details-list">
      {{#if this.updated_at}}
        <li class="remove-dash-results-details-item mobile-only">
          <p class="remove-dash-results-detail">Updated: {{this.updated_at}}</p>
        </li>
      {{/if}}
      <li class="remove-dash-results-details-item flx flx-col align-start">
        <h3 class="remove-dash-results-detail-title">
          {{getString "remove-result-details-found"}}
        </h3>
        <p class="remove-dash-results-detail">{{this.info}}</p>
      </li>
      <li class="remove-dash-results-details-item flx flx-col align-start">
        <h3 class="remove-dash-results-detail-title">
          {{getString "remove-result-description"}}
        </h3>
        <p class="remove-dash-results-detail">{{this.description}}</p>
      </li>
      <li class="remove-dash-results-details-item flx flx-col align-start">
        <h3 class="remove-dash-results-detail-title">
          {{getString "remove-result-link"}}
        </h3>
        <p class="remove-dash-results-detail">
          <a
            class="remove-dash-results-detail-link break-word"
            href=""
          >{{this.url}}</a>
        </p>
      </li>
      <li class="remove-dash-results-details-item flx flx-col align-start">
        <h3 class="remove-dash-results-detail-title">
          {{getString "remove-result-opt-out"}}
        </h3>
        <p class="remove-dash-results-detail">{{this.opt_out}}</p>
      </li>
    </ul>
  </div>
</li>