<main
  id="remove-faq"
  class="remove-page remove-faq clear-header flx flx-col"
  data-page-label="Remove FAQ Page"
>
  <div class="flx flx-col remove-faq__header">
    <div class="mw-860">
      <h2 class="remove-faq__title">{{getRemoveString "remove-pilot-title"}}</h2>
      <div class="remove-faq__nav-container flx">
        <div class="remove-faq__nav-col">
          <ul class="remove-faq__nav-list">
            <li class="remove-faq__nav-item">
              <a href="#pilot-details" class="remove-faq__nav-link">{{ getRemoveString "remove-about-faq-details"}}</a>
            </li>
            <li class="remove-faq__nav-item">
              <a href="#pilot-partner" class="remove-faq__nav-link">{{getRemoveString "remove-about-partner-title"}}</a>
            </li>
            <li class="remove-faq__nav-item">
              <a href="#data-brokers" class="remove-faq__nav-link">{{getRemoveString "remove-about-sites-title"}}</a>
            </li>
          </ul>
        </div>
        <div class="remove-faq__nav-col">
          <ul class="remove-faq__nav-list">
            <li class="remove-faq__nav-item">
              <a href="#risk" class="remove-faq__nav-link">{{getRemoveString "remove-about-risk-title"}}</a>
            </li>
            <li class="remove-faq__nav-item">
              <a href="#status" class="remove-faq__nav-link">{{getRemoveString "remove-about-status-title"}}</a>
            </li>
            <li class="remove-faq__nav-item">
              <a href="#process" class="remove-faq__nav-link">{{getRemoveString "remove-about-process-title"}}</a>
            </li>
            <li class="remove-faq__nav-item">
              <a href="#faq" class="remove-faq__nav-link">{{getRemoveString "remove-about-faq-title"}}</a>
            </li>
            <li class="remove-faq__nav-item">
              <a href="#support" class="remove-faq__nav-link">{{getRemoveString "remove-about-support-title"}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="remove-faq__content-container">
    <div class="mw-860">
      <div id="pilot-details" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">{{getRemoveString "remove-about-faq-details"}}</h3>
        <p>{{{ getRemoveString "remove-about-details-content" }}}</p>
        <h4 class="remove-faq__subtitle">{{getRemoveString "remove-about-service-details-title"}}</h4>
        <p>{{{getRemoveString "remove-about-service-details-content"}}}</p>
      </div>
      <div id="pilot-partner" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">{{getRemoveString "remove-about-partner-title"}}</h3>
        <p>{{{getRemoveString "remove-about-partner-content"}}}</p>
        <p><a href="https://www.thekanary.com/privacy_and_security" target="_blank">{{getRemoveString "remove-about-partner-security-link"}}</a></p>
      </div>
      <div id="data-brokers" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">{{getRemoveString "remove-about-sites-title"}}</h3>
        <p>{{getRemoveString "remove-about-sites-content"}}</p>
      </div>
      <div id="risk" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">{{getRemoveString "remove-about-risk-title"}}</h3>
        <p>{{getRemoveString "remove-about-risk-content"}}</p>
        <ul class="remove-faq__risk-list">
          <li>
            <span class="bold">{{getRemoveString "remove-about-risk-low"}}</span>:
            {{getRemoveString "remove-about-risk-low-content"}}
          </li>
          <li>
            <span class="bold">{{getRemoveString "remove-about-risk-medium"}}</span>:
            {{getRemoveString "remove-about-risk-medium-content"}}
          </li>
          <li>
            <span class="bold">{{getRemoveString "remove-about-risk-high"}}</span>:
            {{getRemoveString "remove-about-risk-high-content"}}
          </li>
        </ul>
      </div>
      <div id="status" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">{{getRemoveString "remove-about-status-title"}}</h3>
        <p>{{{getRemoveString "remove-about-status-content"}}}</p>
      </div>
      <div id="process" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">{{getRemoveString "remove-about-process-title"}}</h3>
        <p>{{getRemoveString "remove-about-process-content"}}
        </p>
      </div>
      <div id="faq" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">{{getRemoveString "remove-about-faq-long-title"}}</h3>
      </div>
      <div class="remove-faq__questions-container">
        <ul class="remove-faq__list">
          <li class="remove-faq__list-item drop-shadow flx flx-col">
            <div class="remove-faq__title-container flx cntr space-between">
              <h4 class="remove-faq__q-title">{{getRemoveString "remove-faq-sites-title"}}</h4>
              <div class="remove-faq__toggle-container">
                <a href="" class="remove-faq__toggle js-remove-faq-toggle">
                  <img
                    src="/img/svg/chevron-down-grey.svg"
                    alt="View Answer to this Question"
                    class="remove-faq__toggle-img"
                  />
                </a>
              </div>
            </div>
            <div class="remove-faq__details-container">
              <p>We scan for sites that collect and sell your personal data like
                names, addresses, and phone numbers. Here is a list of the most
                common sites:</p>
              <div>
                <ul class="remove-faq__col-3">
                  <li>anywho.com</li>
                  <li>backgroundalert.com</li>
                  <li>beenverified.com</li>
                  <li>checkpeople.com</li>
                  <li>checkthem.com</li>
                  <li>clustrmaps.com</li>
                  <li>cocofinder.com</li>
                  <li>cyberbackgroundchecks.com</li>
                  <li>dobsearch.com</li>
                  <li>emailsherlock.com</li>
                  <li>familytreenow.com</li>
                  <li>fastpeoplesearch.com</li>
                  <li>freepeopledirectory.com</li>
                  <li>homemetry.com</li>
                  <li>hpccusa.com</li>
                  <li>infotracer.com</li>
                  <li>instantcheckmate.com</li>
                  <li>intelius.com</li>
                  <li>kiwisearches.com</li>
                  <li>locatepeople.com</li>
                  <li>mylife.com</li>
                  <li>neighborwho.com</li>
                  <li>nuwber.com</li>
                  <li>peekyou.com</li>
                  <li>peoplefinders.com</li>
                  <li>pplcheck.com</li>
                  <li>publicdatadigger.com</li>
                  <li>publicdatausa.com</li>
                  <li>publicemailrecords.com</li>
                  <li>publicinfoservices.com</li>
                  <li>publicrecordsnow.com</li>
                  <li>radaris.com</li>
                  <li>searchpeoplefree.com</li>
                  <li>searchquarry.com</li>
                  <li>smartbackgroundchecks.com</li>
                  <li>socialcatfish.com</li>
                  <li>spokeo.com</li>
                  <li>spydialer.com</li>
                  <li>spyfly.com</li>
                  <li>thatsthem.com</li>
                  <li>truthfinder.com</li>
                  <li>unmask.com</li>
                  <li>usphonebook.com</li>
                  <li>ussearch.com</li>
                  <li>veripages.com</li>
                  <li>whitepages.com</li>
                  <li>xlek.com</li>
                  <li>yellowbook.com</li>
                  <li>zabasearch.com</li>
                  <li>peoplebyname.com</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="remove-faq__list-item drop-shadow flx flx-col">
            {{> data-removal/remove-faq-title alt=(getRemoveString "remove-faq-fxa-title")}}
            <div class="remove-faq__details-container">
              <p>{{getRemoveString "remove-faq-fxa-content"}}</p>
            </div>
          </li>
          <li class="remove-faq__list-item drop-shadow flx flx-col">
            {{> data-removal/remove-faq-title alt=(getRemoveString "remove-faq-pii-title")}}
            <div class="remove-faq__details-container">
              <p>{{getRemoveString "remove-faq-pii-content"}}</p>
            </div>
          </li>
          <li class="remove-faq__list-item drop-shadow flx flx-col">
            {{> data-removal/remove-faq-title alt=(getRemoveString "remove-faq-how-found-title")}}
            <div class="remove-faq__details-container">
              <p>{{getRemoveString "remove-faq-how-found-content"}}</p>
            </div>
          </li>
          <li class="remove-faq__list-item drop-shadow flx flx-col">
            {{> data-removal/remove-faq-title alt=(getRemoveString "remove-faq-usage-title")}}
            <div class="remove-faq__details-container">
              <p>{{getRemoveString "remove-faq-usage-content"}}</p>
            </div>
          </li>
          <li class="remove-faq__list-item drop-shadow flx flx-col">
            {{> data-removal/remove-faq-title alt=(getRemoveString "remove-faq-guarantee-title")}}
            <div class="remove-faq__details-container">
              <p>{{getRemoveString "remove-faq-guarantee-content"}}</p>
            </div>
          </li>
          <li class="remove-faq__list-item drop-shadow flx flx-col">
            {{> data-removal/remove-faq-title alt=(getRemoveString "remove-faq-blocked-title")}}
            <div class="remove-faq__details-container">
              <p>{{getRemoveString "remove-faq-blocked-content"}}</p>
            </div>
          </li>
          <li class="remove-faq__list-item drop-shadow flx flx-col">
            {{> data-removal/remove-faq-title alt=(getRemoveString "remove-faq-search-title")}}
            <div class="remove-faq__details-container">
              <p>{{getRemoveString "remove-faq-search-content"}}</p>
            </div>
          </li>
          <li class="remove-faq__list-item drop-shadow flx flx-col">
            {{> data-removal/remove-faq-title alt=(getRemoveString "remove-faq-cancel-title")}}
            <div class="remove-faq__details-container">
              <p>{{{getRemoveString "remove-faq-cancel-content"}}}</p>
              <p><a href="/user/remove-kan">Click here to cancel</a></p>
            </div>
          </li>
        </ul>
      </div>
      <div id="support" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">{{getRemoveString "remove-about-support-title"}}</h3>
        <p>{{{getRemoveString "remove-about-support-content"}}}</p>
      </div>
    </div>
  </div>

  {{> dashboards/remove-form-kanary-footer}}

</main>