<main class="container clear-header security-tips bg-light">
  <div class="row jst-cntr">
    <div class="col-9">
      <h2 class="security-tips-headline">
        {{ getString "security-tips-headline" }}
      </h2>
      <p class="article-lead-in subhead">
        News about data breaches is becoming more common. We’re told millions of accounts were compromised. Passwords were exposed. Other sensitive data was leaked to the dark web.
      </p>
      <p class="article-lead-in subhead">
        Finding out about a data breach only gets you so far. What does it mean for your internet safety? What should you do? Learn how to better protect yourself online so you can keep your devices, online accounts, and personal data safe.  
      </p>
      <ul class="security-tip-list flx">
        {{#each (articleLinks)}}
          <li class="security-tip-list-item flx">
            {{!-- <div class="article-icon {{ class }}">{{> (lookup . 'pathToPartial') }}</div> --}}
            <div class="flx flx-col">
              <a class="security-tip-link {{ class }}" href="#{{ class }}">{{ stringId }}</a>
              <p class="security-tip-subhead">{{ subhead }}</p>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</main>
<section class="container bg-light articles">
  <div class="row jst-cntr">
    <div class="col-9">
      {{#each (getArticleCopy)}}
        <div id="{{ class }}"class="article-wrapper">
          <h2 class="article-headline {{ class }}">{{ title }}</h2>
          {{#each copy}}

            {{#if lead}}
              <p class="article-paragraph lead">{{ lead }}</p>
            {{/if}}

            {{#if subhead}}
              <h3 class="article-subhead">{{ subhead }}</h3>
            {{/if}}

            {{#if paragraph}}
              <p class="article-paragraph">{{ this.paragraph }}</p>
            {{/if}}

            {{#if list}}
              <ul class = {{ ./../class }}-list>
                {{#each list}}
                  <li class="{{ ./../../class }}-list-item article-list-item">{{ this }}</li>
                {{/each}}
              </ul>
            {{/if}}

            {{#if passwordDosAndDonts }}
              <h1> {{ passwordDosAndDonts.listHeadline }}</h1>
              <div class="password-tip-list flx">
                <ul class="do-list">
                  {{#each passwordDosAndDonts.doList}}
                    <li class="do-list-item">{{ this }}</li>
                  {{/each}}
                </ul>
                <ul class="dont-list">
                  {{#each passwordDosAndDonts.dontList}}
                    <li>{{ this }}</li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}

          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
</section>
