{{#getBreachStats}}
  <div class="research-recruitment-wrapper row-full-width">
    <div class="recruitment-content">
        <button class="x-close-promo" aria-label="Dismiss"></button>
        <div class="recruitment-message-wrapper">
          <span class="recruit-message">We would love to hear your thoughts about Firefox Monitor. Participate in a paid research study.</span><a href="https://qsurvey.mozilla.com/s3/2020-Monitor-Audience-Study-2" target="_blank" class="recruit-cta">I'm interested</a>
        </div>
    </div>
  </div>
  <main id="dashboard" class="dashboard clear-header jst-cntr flx flx-col" data-page-label="User Dashboard">
    <div class="mw-860 flx flx-col">
      <span class="welcome-back">{{ welcomeMessage }}</span>
      <h2 class="pref-headline breach-summary">{{ getString "breach-summary" }}</h2>
      <div class="dash-stats">
        {{> breach-stats addClasses="user-stats"}}
      </div>
      {{#if progressBar}}
      <div class="progress-bar-wrapper">
        {{#if progressBar.progressStatus}}
          <div class="flx space-between h-padding">
            <span class="progress-header demi txt-purple7 flx cntr">{{ progressBar.progressStatus }}</span>
            <span class="percent-complete txt-purple7">{{ progressBar.percentComplete }}</span>
          </div>
          <progress class="progress-bar" max="100" value="{{breachMath 100 "-" progressBar.percentBreachesResolved}}"></progress>
          <span class="progress-message txt-purple7">{{{ progressBar.progressMessage }}}</span>
        {{/if}}
        {{#if progressBar.subhead}} <!-- resolution intro and complete messages -->
          <div class="progress-status-message flx flx-row">
            <div class="{{ progressBar.imageClassName }} breach-resolution-img"></div>
            <div class="flx-col">
              <h3 class="progress-message-subhead bold">{{ progressBar.subhead }}</h3>
              <p class="progress-message-body">{{{ progressBar.progressMessage }}}</p>
            </div>
          </div>
        {{/if}}
      </div>
    {{/if}}
    </div>
  </main>
{{/getBreachStats}}
{{#getBreachesDashboard}}
  <div class="mw-860 jst-cntr flx-col">
    <div class="flx space-between cntr link-header-wrapper">
      <h2 class="pref-headline">{{ getString "email-addresses-title" }}</h2>
      {{> dashboards/manage-email-link variableClass="hide-mobile"}}
    </div>
    <div class="email-cards flx flx-col jst-cntr">
      {{#each this.verifiedEmails }}
        {{> email-card }}
      {{/each}}
      {{#if breachesFound }}
        {{> hibp-attribution variableClasses="dash-attribution txt-cntr"}}
      {{/if}}
    </div>
  </div>
{{/getBreachesDashboard}}
{{!-- TODO: remove this when https://github.com/mozilla/blurts-server/issues/1148 is fixed --}}
{{#ifCompare verifiedEmails.length "<" 15}}
  <div class="row jst-cntr">
    <div id="dashboard-add-email" class="dashboard-add-email flx flx-col">
      <h2 class="section-headline txt-purple7 txt-cntr">{{getString "want-to-add" }}</h2>
      {{> forms/add-another-email-form }}
      {{#if lastAddedEmail}}
        <span class="dashboard-email-sent bold"> {{ getString "email-sent" }}</span>
        {{#each (getLastAddedEmailStrings)}}
          <p class="confirm-submit txt-cntr">{{{ this }}}</p>
        {{/each}}
      {{/if}}
    </div>
  </div>
{{/ifCompare}}
{{> take-back-control/take-back-control-banner additionalClasses="dash-take-back-wrapper"}}
