
<main id="dashboard" class=" ab-br sr dashboard clear-header jst-cntr flx" data-page-label="User Dashboard">
  <div class="mw-860 flx flx-col">
    <span class="welcome-back">{{ welcomeMessage }}</span>
    <h2 class="pref-headline breach-summary">{{ getString "breach-summary" }}</h2>
    <div class="dash-stats">
      {{> breach-stats addClasses="user-stats"}}
    </div>
  </div>
</main>
<div class="mw-860 jst-cntr flx-col">
  <div class="flx space-between cntr link-header-wrapper">
    <h2 class="pref-headline">{{ getString "email-addresses-title" }}</h2>
    {{> dashboards/manage-email-link variableClass="hide-mobile"}}
  </div>
  <div class="email-cards flx flx-col jst-cntr">
    {{#getBreachesForEachEmail}}
      {{#eachFromTo this.verifiedEmails 0 1 }}
        {{> email-card }}
      {{/eachFromTo}}
      <div class="private-relay-callout">
        <div class="relay-border">
          <div class="private-relay-callout-copy flx">
            <div>
              <p class="bold ff-Met purple7">Keep your email addresses hidden for future accounts</p>
              <p>Use an email masking service to generate a fake email address.</p>
              <a href="/firefox-private-relay" class="blue-link">Learn how to protect your email</a>
            </div>
          </div>
        </div>
      </div>
      {{#eachFromTo this.verifiedEmails 1 this.verifiedEmails.length }}
        {{> email-card }}
      {{/eachFromTo}}
      {{#if breachesFound }}
        {{> hibp-attribution variableClasses="dash-attribution txt-cntr"}}
      {{/if}}
    {{/getBreachesForEachEmail}}
  </div>
</div>
{{!-- TODO: remove this when https://github.com/mozilla/blurts-server/issues/1148 is fixed --}}
{{#ifCompare verifiedEmails.length "<" 15}}
  <div class="row jst-cntr">
    <div id="dashboard-add-email" class="dashboard-add-email flx flx-col">
      <h2 class="section-headline txt-purple7 txt-cntr">{{getString "want-to-add" }}</h2>
      {{> forms/add-another-email-form }}
      {{#if lastAddedEmail}}
        <span class="dashboard-email-sent bold"> {{ getString "email-sent" }}</span>
        {{#each (getLastAddedEmailStrings)}}
          <p class="confirm-submit txt-cntr">{{{ this }}}</p>
        {{/each}}
      {{/if}}
    </div>
  </div>
{{/ifCompare}}
{{> take-back-control/take-back-control-banner additionalClasses="dash-take-back-wrapper"}}
