{{#getUserPreferences}}
  <section class="container clear-header preferences sr" data-page-label="Preferences">
    <div class="row jst-cntr">
      <div class="col-9 padding-zero">
        <h2 class="skinny-headline monitor-preferences-headline">{{ getString "monitor-preferences" }}</span></h2>
      </div>
    </div>
  <div class="container bg-light">
  <div class="row jst-cntr">
      <div class="col-9 global-comm padding-zero">
        <h2 class="section-headline global-comm-headline">{{ getString "global-communication" }}</h2>
        <section>
          {{#each communicationOptions}}
            <label class="radio-container">
              <input class="radio-comm-option" data-comm-option="{{ optionId }}" data-form-action="update-comm-option" type="radio" checked="checked" name="1">
              <span class="radio-label">{{{ labelString }}}</span>
              <span class="checkmark"></span>
            </label>
          {{/each}}
        </section>
      </div>
    </div>
    <div class="row jst-cntr flx-col">
      <div class="col-9 padding-zero">
        <h2 class="section-headline">{{ getString "email-addresses-title" }}</h2>
      </div>
          {{#each emails }}
            {{#ifCompare email_addresses.length ">" 0}}
              <div class="col-9 padding-zero">
                <h4 class="email-pref {{ this.className }}">{{ this.subhead }}</h4>
              </div>
              {{#each this.email_addresses}}
                {{> email-card prefs=./../../../preferences}}
              {{/each}}
            {{/ifCompare}}
          {{/each}}
      </div>
    </div>
    <section class="bg-light">
      <div class="row jst-cntr dash-row flx-col">
        <div class="col-9 padding-zero">
          <h2 class="section-headline add-new-email padding-zero">{{ getString "add-new-email" }}</h2>
        </div>
        <div class="col-9 padding-zero">
          {{> forms/add-another-email-form }}
        </div>
      </div>
      <div class="row jst-cntr bg-light">
        <div class="col-9 padding-zero">
          <div>
            <h2 class="section-headline">{{ getString "remove-fxm" }}</h2>
            <p class="subhead">{{ getString "remove-fxm-blurb" }}</p>
            <button class="remove-fxm subhead flx" href="/">{{ getString "remove-fxm" }}{{> svg/arrow-head-right }}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
    
{{/getUserPreferences}}
