{{#getUserPreferences}}
  <section class="container">
    <div class="row jst-cntr">
      <div class="col-8">
        <h2 class="skinny-headline">{{getString "monitor-preferences"}}</h2>
      </div>
    </div>
    <div class="row jst-cntr">
      <div class="col-8">
        <fieldset>
          <legend class="skinny-headline">{{getString "global-communication"}}</legend>
          <section class="pref-section">
            {{#each communicationOptions}}
              <label class="radio-container email-pref">
                <input class="radio-comm-option" data-comm-option="{{ optionId }}" data-form-action=" update-comm-option" type="radio" checked="checked" name="1">
                <span class="radio-label">{{ labelString }}</span>
                <span class="checkmark"></span>
              </label>
            {{/each}}
          </section>
        </fieldset>
      </div>
    </div>
    <div class="row jst-cntr">
      <div class="col-8">
        <fieldset>
          <legend class="skinny-headline">{{getString "email-addresses"}}</legend>
          {{#each emails }}
            <section class="pref-section">
              <h4 class="email-pref">{{this.subhead}}</h4>
              {{#each this.email_addresses }}
                {{> email-card prefs=./../../../preferences}}
              {{/each}}
            </section>
          {{/each}}
          <section class="pref-section">
            <h4 class="email-pref">{{getString "add-new-email"}}</h4>
              {{> forms/add-another-email-form }}
          </section>
        </fieldset>
      </div>
    </div>
    <div class="row jst-cntr">
      <div class="col-8">
        <h2 class="skinny-headline">{{getString "remove-fxm"}}</h2>
        <h3 class="subhead">{{getString "remove-fxm-blurb"}}</h3>
        <button class="remove-fxm subhead" href="/">{{getString "remove-fxm" }}</button>
      </div>
    </div>
  </section>
{{/getUserPreferences}}
