{{#getUserPreferences}}
  <section class="container clear-header preferences sr" data-page-label="Preferences">
    <div class="row jst-cntr">
      <div class="pref">
        <h2 class="pref-headline">{{ getString "monitor-preferences" }}</span></h2>
      </div>
    </div>
  </section>
  <section>
    <div class="row flx-col">
      <div class="pref">
        <h3 class="pref-section-headline">{{ getString "global-communication" }}</h3>
        <section>
          {{#each communicationOptions}}
            <label class="radio-container">
              <input class="radio-comm-option" data-comm-option="{{ optionId }}" data-form-action="update-comm-option" type="radio" {{ optionChecked }} name="1">
              <span class="radio-label">{{{ labelString }}}</span>
              <span class="checkmark"></span>
            </label>
          {{/each}}
        </section>
      </div>
      <div class="pref">
        <h3 class="pref-section-headline">{{ getString "email-addresses-title" }}</h3>
        {{#each emails }}
          {{#ifCompare email_addresses.length ">" 0}}
            <h4 class="email-pref {{ this.className }}">{{ this.subhead }}</h4>
            {{#each this.email_addresses}}
              {{> email-card prefs=./../../../preferences}}
            {{/each}}
          {{/ifCompare}}
        {{/each}}
      </div>
      <div class="pref">
        <h4 class="email-pref add-new">{{ getString "add-new-email" }}</h4>
        {{> forms/add-another-email-form }}
      </div>
      <div class="pref remove">
        <h3 class="pref-section-headline remove">{{ getString "remove-fxm" }}</h3>
        <p class="subhead">{{ getString "remove-fxm-blurb" }}</p>
        <button class="remove-fxm subhead flx" href="/">{{ getString "remove-fxm" }}{{> svg/arrow-head-right }}</button>
      </div>
    </div>
  </section>
{{/getUserPreferences}}

