<main id="remove-dashboard" class="js-dashboard remove-page dashboard clear-header flx flx-col"
  data-page-label="Remove Data Dashboard">
{{#getRemoveDashData}}
<div class="flx flx-col remove-dashboard-container" 
  data-filter="{{#getRemovalFilters}}{{#each filters}}{{this.id}} {{/each}}{{/getRemovalFilters}}"
>
  <div class="mw-860 remove-data-dashboard">
    <div class="flx space-between remove-dash-status-container">
      <p class="remove-dash-status">
        {{ getRemoveString "remove-status-exposures"}}
        <span class="bold">{{getFullName}}</span> 
      </p>
      <div class="flx cntr">
      <a
        href="/user/remove-data?show_form=true"
        class="btn-blue btn-small remove-dash-status-manage-btn"
        data-event-category="Removal"
        data-ga-link
        data-event-label="Manage Info"
      >{{getRemoveString "remove-dash-manage-info"}}</a>
      </div>
    </div>
    
    <div class="remove-filter-container flx space-between">
      {{#if this.removeResults}}{{> data-removal/filter-keys}}{{/if}}
    </div>
    
    <div class="remove-dash-results-container">
      {{#if this.removeResults}}
      {{> removal/removal-results-header }}
      <ul class="remove-dash-results-list">
        {{#each this.removeResults}}
          {{> removal/removal-result }}
        {{/each}}
      </ul>
      {{else}}
          {{> removal/removal-pending }}
      {{/if}}
    </div>
  </div>
</div>
{{> dashboards/remove-form-kanary-footer}}
{{/getRemoveDashData}}
</main>

{{> data-removal/modal-remove-status}}
{{> data-removal/modal-remove-info-found}}
{{> data-removal/modal-remove-link}}
{{> data-removal/modal-remove-risk}}
{{> data-removal/modal-remove-manual}}
{{> data-removal/modal-leaving-monitor}}