<main
  id="remove-allstats"
  class="remove-page js-dashboard dashboard clear-header flx flx-col"
  data-page-label="User Dashboard"
>
  <div class="mw-860 flx flx-col remove-allstats-container">
    <section class="remove-dashboard-section">
      <h2 class="remove-allstats-title">Removal Stats</h2>
      <ul class="remove-allstats-list">
        <li class="remove-allstats-item">
          <span class="bold">Total Results:</span>
          {{stats.totalResults}}
        </li>
        <li class="remove-allstats-item">
          <span class="bold">Removed Results:</span>
          {{stats.removedResults}}
        </li>
        <li class="remove-allstats-item">
          <span class="bold">Removal Success Rate:</span>
          {{stats.resolutionPct}}%
        </li>
        {{#if stats.resolutionTimeData}}
          <li class="remove-allstats-item flx flx-col align-start">
            <span class="bold">Resolution Time (Days):</span>
            <ul class="remove-allstats-time-list">
              <li
                class="remove-allstats-time-item"
                data-id="mean"
                data-label="Mean"
                data-val="{{stats.resolutionTimeData.mean}}"
              >
                <span class="bold">Mean:</span>
                {{stats.resolutionTimeData.mean}}
              </li>
              <li
                class="remove-allstats-time-item"
                data-id="mode"
                data-label="Mode"
                data-val="{{stats.resolutionTimeData.mode}}"
              >
                <span class="bold">Mode:</span>
                {{stats.resolutionTimeData.mode}}
              </li>
              <li
                class="remove-allstats-time-item"
                data-id="avg"
                data-label="Average"
                data-val="{{stats.resolutionTimeData.avg}}"
              >
                <span class="bold">Average:</span>
                {{stats.resolutionTimeData.avg}}
              </li>
              <li
                class="remove-allstats-time-item"
                data-id="stddev"
                data-label="Std Dev"
                data-val="{{stats.resolutionTimeData.stdDev}}"
              >
                <span class="bold">Std Dev:</span>
                {{stats.resolutionTimeData.stdDev}}
              </li>
            </ul>
            <div
              id="remove-allstats-chart-container"
              class="remove-allstats-chart-container"
            ></div>
          </li>
        {{/if}}
      </ul>
    </section>
  </div>
</main>