<main id="remove-pilot-ended" class="remove-page js-dashboard dashboard clear-header flx flx-col" data-page-label="User Dashboard">
  <div class="mw-860 flx flx-col remove-kanary-ended-container">
    <h2 class="">{{getRemoveString "remove-pilot-ended-title"}}</h2>
    <p>{{{getRemoveString "remove-pilot-ended-description"}}}
      <a href="mailto:{{getRemoveString "remove-about-support-email"}}">{{getRemoveString "remove-about-support-email"}}</a>.
      {{getRemoveString "remove-pilot-ended-continue"}}
    </p>
  </div>
  {{> data-removal/remove-kanary-info}}
  {{> dashboards/remove-form-kanary-footer}}
</main>

