{{#getBreachStats}}
  <main id="remove-confirmation" class="remove-page js-dashboard dashboard clear-header flx flx-col" data-page-label="User Dashboard">
    <div class="mw-860 flx dashboard-stats-and-welcome">
        <div class="dashboard-welcome-container flx">
          <span class="dashboard-welcome-back">{{ welcomeMessage }}</span>
        </div>
        {{> breach-stats addClasses="user-stats"}}
      </div>
    </div>
    {{> dashboards/breach-dash-tabs activeTab="remove"}}
  </main>
{{/getBreachStats}}
<div class="flx flx-col">
  <div class="mw-860 flx flx-col remove-dashboard-section remove-success-section">
    <div class="flx jst-cntr">
      <img class="remove-success-icon" src="/img/svg/remove-form-success-icon.svg"/>
    </div>
    <div class="flx flx-col txt-cntr remove-success-text-section">
      <h2 class="title-section">{{ getString "remove-form-success-title"}}</h2>
      <p>{{ getString "remove-form-success-details"}}</p>
    </div>
    <div class="flx flx-col txt-cntr remove-success-text-section">
      <h2 class="title-section">{{ getString "remove-form-success-next-title"}}</h2>
      <p>{{ getString "remove-form-success-next-details"}}</p>
      <p>
        <a href="/user/dashboard/">{{ getString "remove-form-success-dashboard"}}</a>
      </p>
    </div>
  </div>
</div>
<div class="remove-dashboard-kanary-container flx flx-col flx-cntr">
  <p class="remove-dashboard-kanary-disclaimer">{{ getString "dash-remove-kanary-discalimer"}}</p>
</div>
