<main id="remove-update-confirmation" class="remove-page js-dashboard dashboard clear-header flx flx-col" data-page-label="User Dashboard">
  <div class="flx flx-col">
    <div class="mw-860 flx flx-col remove-dashboard-section remove-success-section">
      <div class="flx jst-cntr">
        <img class="remove-success-icon" src="/img/svg/remove-form-success-icon.svg" alt="{{getRemoveString "remove-form-success-alt"}}"/>
      </div>
      <div class="flx flx-col txt-cntr remove-success-text-section">
        <h2 class="title-section">{{ getRemoveString "remove-form-update-title"}}</h2>
        <p>{{ getRemoveString "remove-form-update-details"}}</p>
      </div>
      <div class="flx flx-col txt-cntr remove-success-text-section">
        <h2 class="title-section">{{ getRemoveString "remove-form-success-next-title"}}</h2>
        <p>{{ getRemoveString "remove-form-success-next-details"}}</p>
        <p>
          <a class="btn-small btn-blue jst-cntr" href="/user/remove-data/">{{ getRemoveString "remove-form-create-dashboard"}}</a>
        </p>
      </div>
    </div>
  </div>
{{> dashboards/remove-form-kanary-footer}}
</main>
