{{#getBreachStats}}
  <main id="remove-dashboard" class="js-dashboard remove-page dashboard clear-header flx flx-col" data-page-label="Remove Data Dashboard">
    <div class="mw-860 flx dashboard-stats-and-welcome">
        <div class="dashboard-welcome-container flx">
          <span class="dashboard-welcome-back">{{ welcomeMessage }}</span>
        </div>
        {{> breach-stats addClasses="user-stats"}}
      </div>
    </div>
    {{> dashboards/breach-dash-tabs activeTab="remove"}}
  </main>
{{/getBreachStats}}
{{#getRemoveDashData}}
<div class="flx flx-col remove-dashboard-container">

  <div class="mw-860 remove-data-dashboard">
    <div class="flx space-between remove-dash-status-container">
      <div class="remove-dash-status-container">
        <p class="remove-dash-status">{{ getString "remove-status-in-progress"}}</p>
        <p class="remove-dash-status">
          <span class="remove-email bold">{{this.verifiedEmails.0.email}} </span> 
          {{ getString "remove-exposure-snippet"}}
          <span class="bold">{{removeDashExposureMessage}}</span>
        </p>
      </div>
      <div class="remove-dash-update-container">
        <p class="remove-dash-update">{{ getString "remove-status-update" }} <span class="remove-dash-update-date">{{this.lastUpdate}}</span></p>
      </div>
    </div>
    <div class="remove-filter-container flx space-between">
      <div class="remove-filter-key flx flx-grow">
        <ul class="remove-filter-key-list flx flx-row">
          <li class="remove-filter-key-list-item">
            <a href="#" class="remove-filter-key-button" role="button">
              <img src="/img/svg/remove-in-progress-icon.svg" alt="{{ getString "remove-filter-in-progress"}}" class="remove-filter-key-list-icon"/>
            </a>
            <span class="remove-filter-key-list-title">{{ getString "remove-filter-in-progress"}}</span>
          </li>
          <li class="remove-filter-key-list-item">
            <a href="#" class="remove-filter-key-button" role="button"></a>
              <img src="/img/svg/remove-filter-key-completed-icon.svg" alt="{{ getString "remove-filter-completed"}}" class="remove-filter-key-list-icon"/>
            </a>
            <span class="remove-filter-key-list-title">{{ getString "remove-filter-completed"}}</span>
          </li>
        </ul>
      </div>
      <div class="remove-filter-controls">
        <ul class="remove-filter-list flx flx-row">
          <li class="remove-filter-list-item">
            <a href="#" class="remove-filter-list-button" role="button">
              <img src="/img/svg/remove-filter-date-icon.svg" alt="{{ getString "remove-filter-date"}}" class="remove-filter-list-icon"/>
            </a>
          </li>
          <li class="remove-filter-list-item">
            <a href="#" class="remove-filter-list-button" role="button">
              <img src="/img/svg/remove-filter-list-icon.svg" alt="{{ getString "remove-filter-list"}}" class="remove-filter-list-icon"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="remove-dash-results-container">
        <ul class="remove-dash-results-list">
          {{#each this.removeResults}}
            {{> removal/removal-result }}
          {{/each}}
        </ul>
      </div>
  </div>
</div>
<div class="remove-dashboard-kanary-container flx flx-col flx-cntr">
  <p class="remove-dashboard-kanary-disclaimer">{{ getString "dash-remove-kanary-discalimer"}}</p>
</div>
{{/getRemoveDashData}}