<main id="remove-pilot-ended" class="remove-page js-dashboard dashboard clear-header flx flx-col" data-page-label="User Dashboard">
  <div class="mw-860 flx flx-col remove-enroll-container">
    <h2 class="remove-enroll-title">{{getRemoveString "remove-pilot-ended-title"}}</h2>
    <p>{{{getRemoveString "remove-pilot-ended-description"}}}</p>
    <h3 class="remove-enroll-subtitle">{{getRemoveString "remove-pilot-ended-continue-title"}}</h3>
    <p>
      {{getRemoveString "remove-pilot-ended-continue-text"}}
      <a href="{{getRemoveString "remove-partner-link"}}">{{getRemoveString "remove-partner-link"}}</a>
    </p>
  </div>
  {{> data-removal/remove-kanary-info}}
  {{> dashboards/remove-form-kanary-footer}}
</main>

