{{#getBreachStats}}
  <main id="remove-form" class="js-dashboard remove-page dashboard clear-header flx flx-col" data-page-label="User Dashboard">
    <div class="mw-860 flx dashboard-stats-and-welcome">
        <div class="dashboard-welcome-container flx">
          <span class="dashboard-welcome-back">{{ welcomeMessage }}</span>
        </div>
        {{> breach-stats addClasses="user-stats"}}
      </div>
    </div>
    {{> dashboards/breach-dash-tabs activeTab="remove"}}
  </main>
{{/getBreachStats}}
{{#getRemoveFormData}}
<div class="flx flx-col remove-dashboard-container js-remove-dashboard-container"
  {{#if this.acctInfo.addresses.0.country}}data-country="{{this.acctInfo.addresses.0.country}}"{{/if}}
>
  {{#if ./../supportedLocalesIncludesEnglish}}
    <div class="mw-860 remove-dashboard-card-container">
      <div class="remove-dashboard-card">
        <div href="/remove-my-data" class="remove-dashboard-card-border flx private-relay-cta" data-analytics-label="join-the-waitlist-link" data-usemailIder-is-signed-up="{{ ./../userHasSignedUpForRemoveData }}">
          <div class="remove-dashboard-card-content flx">
            <div class="private-relay-dashboard-card-copy">
              <p class="remove-dashboard-card-body">{{ getString "dash-remove-intro-1"}}</p>
              {{#if this.acctInfo}}
              <p class="remove-dashboard-card-body">{{ getString "dash-remove-intfo-change"}}</p>
              {{else}}
              <p class="remove-dashboard-card-body">{{ getString "dash-remove-intro-signup"}}</p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  <div class="mw-860 remove-dashboard-section-container">
    <div class="remove-dashboard-form-container remove-dashboard-section">
      <form action="/user/remove-data-submit" method="post" id="remove-data-signup-form" class="remove-dashboard-form form-group" data-event-category="Remove Data Form">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="input-group">
          <div class="input-group remove-account-select">
            <label for="remove-dashboard-form-email" class="input-group-label field--full required">{{ getString "dash-remove-form-email-label"}}</label>
            <div class="tmp-select-output flx space-between">
              <select required class="tmp-select-email bold" name="account" id="account">
              {{#each this.verifiedEmails }}
                <option value="{{ email }}">{{ email }}</option>
              {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="input-group">
          <label for="remove-dashboard-form-first-name" class="input-group-label field--full required">{{ getString "dash-remove-form-name-label"}}</label>
          <div class="flx remove-dashboard-form-name">
            <input required id="remove-dashboard-form-first-name" class="input-group-field" type="text" name="firstname" pattern="[A-Za-z]+" placeholder="{{ getString "dash-remove-form-name-first"}}" aria-label="{{ getString "dash-remove-form-name-first"}}" autocomplete="off" 
              {{#if this.acctInfo.names.0.first_name}}value="{{this.acctInfo.names.0.first_name}}"{{/if}}
            >
            <input required id="remove-dashboard-form-last-name" class="input-group-field flx-grow" type="text" name="lastname" pattern="[A-Za-z]+" placeholder="{{ getString "dash-remove-form-name-last"}}" aria-label="{{ getString "dash-remove-form-name-last"}}" autocomplete="off"
              {{#if this.acctInfo.names.0.last_name}}value="{{this.acctInfo.names.0.last_name}}"{{/if}}
            >
          </div>
          {{> forms/error-message }}
        </div>
        <div class="input-group">
          <label for="remove-dashboard-form-loc-city" class="input-group-label field--full required">{{ getString "dash-remove-form-loc-label"}}</label>
          <div class="flx remove-dashboard-form-loc">
            <input required id="remove-dashboard-form-loc-city" class="input-group-field" type="text" name="city" pattern="[A-Z a-z]+" placeholder="{{ getString "dash-remove-form-loc-city"}}" aria-label="{{ getString "dash-remove-form-loc-city"}}" autocomplete="off"
              {{#if this.acctInfo.addresses.0.city}}value="{{this.acctInfo.addresses.0.city}}"{{/if}}
            >
            <div class="input-group-field remove-dashboard-select-container">
              {{!-- can't access acctInfo inside each loop
              <select required id="remove-dashboard-form-loc-country" class="input-group-select remove-dashboard-form-loc-select js-form-select" name="country">
                <option disabled {{#unless this.acctInfo.addresses.0.country}}selected{{/unless}} value>{{ getString "dash-remove-form-loc-country"}}</option>
                {{#each this.countries }}
                  <option value="{{ countryCode }}" 
                    {{#ifCompare this.acctInfo.addresses.0.country "===" countryCode}}selected{{/ifCompare}}
                  >{{ countryCode }}</option>
                {{/each}}
              </select>
              --}}
              <select required id="remove-dashboard-form-loc-country" class="input-group-select remove-dashboard-form-loc-select js-form-select" name="country">
                <option disabled {{#unless this.acctInfo.addresses.0.country}}selected{{/unless}} value>{{ getString "dash-remove-form-loc-country"}}</option>
                {{#if this.acctInfo.addresses.0.country}}
                <option selected value="{{ this.acctInfo.addresses.0.country }}" >{{ this.acctInfo.addresses.0.country }}</option>
                {{/if}}
                {{#each this.countries }}
                  <option value="{{ countryCode }}" >{{ countryCode }}</option>
                {{/each}}
              </select>
            </div>
            <div class="input-group-field remove-dashboard-select-container remove-dashboard-state-container">
              <select id="remove-dashboard-form-loc-state" class="input-group-select remove-dashboard-form-loc-select js-form-select" name="state">
                  <option disabled {{#unless this.acctInfo.addresses.0.state}}selected{{/unless}}>{{ getString "dash-remove-form-loc-state"}}</option>
                  {{#if this.acctInfo.addresses.0.state}}
                    <option selected value="{{ this.acctInfo.addresses.0.state }}" >{{ this.acctInfo.addresses.0.state }}</option>
                  {{/if}}
                  {{#each this.usStates }}
                    <option value="{{ stateCode }}">{{ stateCode }}</option>
                  {{/each}}
              </select>
            </div>
          </div>
          {{> forms/error-message }}
        </div>
        <div class="input-group">
          <label for="remove-dashboard-form-year required" class="input-group-label field--full required">{{ getString "dash-remove-form-birth-year-label"}}</label>
          <input required id="remove-dashboard-form-year" class="input-group-field field--full " type="text" name="birthyear" maxlength="4" minlength="4" pattern="[0-9]{4}" placeholder="{{ getString "dash-remove-form-birth-year-label"}}" aria-label="{{ getString "dash-remove-form-birth-year"}}" autocomplete="off"
            {{#if this.acctInfo.birth_year}}value="{{this.acctInfo.birth_year}}"{{/if}}
          >
          {{> forms/error-message }}
        </div>
        <div class="input-group-button inline">
          <input id="remove-dashboard-data-submit" class="js-remove-submit input-group-submit remove-dashboard-data-submit inline" type="submit" 
            value="{{#if this.acctInfo}}{{ getString "dash-remove-change-submit" }}{{else}}{{ getString "dash-remove-submit" }}{{/if}}"/>
          {{> forms/loader }}
        </div>
        <div class="flx flx-col flx-cntr">
          {{#unless this.acctInfo}}<p class="remove-dashboard-form-disclaimer">{{ getString "dash-remove-form-disclaimer"}}</p>{{/unless}}
          <p class="alert remove-dashboard-form-rqd bold">{{ getString "dash-remove-form-required-helper"}}</p>
        </div>
      </form>
      <div class="remove-dashboard-info-collection-container question-container">
        <a class="remove-dashboard-info-question question-q js-question-q" href="#">{{ getString "remove-form-data-collection-q" }}</a>
        <p class="remove-dashboard-info-answer question-a">{{ getString "remove-form-data-collection-a" }}</p>
      </div>
      {{#if this.acctInfo}}
      <div class="remove-dashboard-delete-container flx jst-cntr">
        <a href="/user/remove-kan" class="btn-transparent btn-red btn-small">{{getString "remove-form-data-delete"}}</a>
      </div>
      {{/if}}
    </div>
  </div>
</div>

<div class="flx flx-col js-remove-success-container is-hidden">
  <div class="mw-860 flx flx-col remove-dashboard-section remove-success-section">
    <div class="flx jst-cntr">
      <img class="remove-success-icon" src="/img/svg/remove-form-success-icon.svg"/>
    </div>
    <div class="flx flx-col txt-cntr remove-success-text-section">
      <h2 class="title-section">{{ getString "remove-form-success-title"}}</h2>
      <p>{{ getString "remove-form-success-details"}}</p>
    </div>
    <div class="flx flx-col txt-cntr remove-success-text-section">
      <h2 class="title-section">{{ getString "remove-form-success-next-title"}}</h2>
      <p>{{ getString "remove-form-success-next-details"}}</p>
    </div>
  </div>
</div>
<div class="remove-dashboard-kanary-container flx flx-col flx-cntr">
  <p class="remove-dashboard-kanary-disclaimer">{{ getString "dash-remove-kanary-discalimer"}}</p>
</div>
{{/getRemoveFormData}}