<main id="remove-signup-confirmation" class="remove-page js-dashboard dashboard clear-header flx flx-col" data-page-label="User Dashboard">
  <div class="flx flx-col">
    <div class="mw-860 flx flx-col remove-dashboard-section remove-success-section">
      <div class="flx jst-cntr">
        <img class="remove-success-icon" src="/img/svg/remove-form-success-icon.svg" alt="{{getString "remove-form-success-alt"}}"/>
      </div>
      <div class="flx flx-col txt-cntr remove-success-text-section">
        <h2 class="title-section">{{ getString "remove-form-success-title"}}</h2>
        <p>{{ getString "remove-form-success-details"}}</p>
      </div>
      <div class="flx flx-col txt-cntr remove-success-text-section">
        <h2 class="title-section">{{ getString "remove-form-success-next-title"}}</h2>
        <p>{{ getString "remove-form-success-next-details"}}</p>
        <p>
          <a class="btn-blue btn-small flx jst-cntr" href="/user/remove-data/">{{ getString "remove-form-create-dashboard"}}</a>
        </p>
      </div>
    </div>
  </div>
  {{> dashboards/remove-form-kanary-footer}}
</main>

