<main id="remove-enroll" class="remove-page js-dashboard dashboard clear-header flx flx-col" data-page-label="User Dashboard">
  <div class="mw-860 flx flx-col remove-enroll-container">
    <h2 class="remove-enroll-title">{{getRemoveString "remove-enroll-title"}}</h2>
    <p>{{{getRemoveString "remove-enroll-intro"}}}</p>
    <h3 class="remove-enroll-heading">{{getRemoveString "remove-enroll-description-title"}}</h3>
    <p>{{{getRemoveString "remove-enroll-description"}}}</p>
    <ul class="remove-enroll-link-list">
      <li class="remove-enroll-link-item">
        <a href="/remove-faq" class="remove-enroll-link">
          {{getRemoveString "remove-enroll-link-faq"}}
        </a>
      </li>
      <li class="remove-enroll-link-item">
        {{!-- MH TODO: Need TOS from Legal --}}
        <a href="https://www.thekanary.com/privacy_and_security" class="remove-enroll-link" target="_blank" rel="noopener noreferrer">
          {{getRemoveString "remove-enroll-link-tos"}}
        </a>
      </li>
    </ul>
    {{#unless isEnrolledInPilot}}
    <div class="flx">
      <form id="remove-enroll-form" action="/user/remove-enroll-submit">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <p>
          <a href="#">{{getRemoveString "remove-enroll-terms-agreement"}}</a>
        </p>
        <input id="" class="js-enroll-submit remove-enroll-submit" type="submit" value="{{getRemoveString "remove-enroll-submit"}}"/>
      </form>
    </div>
    <div class="flx jst-cntr">
        <button
          class="js-remove-optout remove-dashboard-optout-btn btn-small btn-grey-dark"
          data-micromodal-trigger="modal-remove-optout"
        >{{getRemoveString "remove-optout"}}</button>
    </div>
    <div class="remove-dashboard-form-error --general --enroll"></div>
    {{/unless}}
  </div>
  {{> dashboards/remove-form-kanary-footer}}
</main>
{{> data-removal/modal-remove-optout}}
