<section id="fx-account-features" class="container gradient-container {{ variableClasses }}">
  <div class="row flx-col jst-cntr {{ variableClasses }}">
    <div class="gradient-inset">
      <div class="col-12 flx-cntr txt-cntr feat-headline-wrapper">
        <h2 class="feature-tip-headline">
          {{#if featuredBreach }}
            {{ getString "find-out-if" }}
          {{else}}
            {{ getString "monitor-your-online-accounts" }}
          {{/if}}
        </h2>
      </div>
      <div class="col-12 flx-cntr txt-cntr">
        <div class="flx feature-tip-group">
          {{#each (monitorFeaturesList)}}
            {{> feature-tip-group }}
          {{/each}}
        </div>
        <div class="feature-tip-content-wrapper feature-button">
          <div class="feature-tip-content txt-cntr">
            {{#if featuredBreach.IsSensitive}}
              <button class="btn-violet-primary open-oauth" data-event-category="Sign Up Button" {{>analytics/fxa id="fx-monitor-sign-up-button"}}>
                {{ getString "sign-up" }}
              </button>
            {{else}}
              <button class="btn-violet-primary open-oauth" data-event-category="Sign Up Button" {{>analytics/fxa id="fx-monitor-sign-up-for-alerts"}}>
                {{ getString "sign-up-for-alerts" }}
              </button>
            {{/if}}
            {{> sign-up-banners/browser-not-required }}
            {{> sign-up-banners/sign-in-link }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
