
<form id="scan-user-email" class="email-scan form-group {{ addClasses }}" action="/scan" method="post" data-event-category="Email Scan Form" novalidate>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <input type="hidden" name="pageToken" value="{{ pageToken }}">
  <input type="hidden" name="scannedEmailId" value="">
  <div class="input-group">
    <input id="scan-email" class="input-group-field email-to-hash" type="email" name="email" placeholder="{{ getString "scan-placeholder" }}" aria-label="{{ getString "scan-placeholder" }}" autocomplete="off" />
    <span id="invalid-email-message" class="error-message">{{ getString "scan-error" }}</span>
  </div>
  <input type="hidden" name="emailHash" />
  {{#if scanFeaturedBreach}}
    <input id="featured" type="hidden" name="featuredBreach" value="{{ featuredBreach.Name }}"/>
  {{/if}}
  <div class="input-group-button">
    {{#if featuredBreach}}
      <input type="submit" value="{{ getString "find-out" }}"/>
    {{else}}
      <input type="submit" value="{{ getString "check-for-breaches" }}"/>
    {{/if}}
      {{> forms/loader }}
  </div>
</form>
<p class="paragraph form-desc txt-cntr txt-purple7">{{ getString "search-for-your-email" }}</p>
