<form id="scan-user-email" class="email-scan form-group {{#if experimentFlags.experimentBranchB}}skip{{/if}} {{ addClasses }}" action="/scan" method="post" data-event-category="Email Scan Form" novalidate>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <input type="hidden" name="pageToken" value="{{ pageToken }}">
  <input type="hidden" name="scannedEmailId" value="">
  {{#unless experimentFlags.experimentBranchB}}
  <div class="input-group">
    <input id="scan-email" class="input-group-field email-to-hash" type="email" name="email" placeholder="{{ getString "scan-placeholder" }}" aria-label="{{ getString "scan-placeholder" }}" autocomplete="off" />
    <span id="invalid-email-message" class="error-message">{{ getString "scan-error" }}</span>
  </div>
  <div class="input-group" id="fxaCheckbox">
      <label for="createFxaCheckbox" class="create-fxa-wrapper">
        <div class="create-fxa-checkbox-wrapper">
          <input class="create-fxa-checkbox-input" id="createFxaCheckbox" type="checkbox" />
          <span class="create-fxa-checkbox-checkmark"></span>
        </div>
        <p>{{ getString "get-email-alerts" }}</p>
      </label>
  </div>
  {{/unless}}
  <input type="hidden" name="emailHash" />
  {{#if scanFeaturedBreach}}
    <input id="featured" type="hidden" name="featuredBreach" value="{{ featuredBreach.Name }}"/>
  {{/if}}
  <div class="input-group-button">
    {{#if featuredBreach}}
      {{#if experimentFlags.experimentBranchB}}
        <input type="submit" class="open-oauth ga-growth-ping" data-event-category="fxa-oauth" data-event-label="fx-monitor-create-account-blue-btn-featuredBreach" {{> analytics/fxa id="fx-monitor-create-account-blue-btn-featuredBreach" }} value="Get Started"/>
      {{else}}
        <input class="breachesSubmitButton add-metrics-flow-values" data-form_type="other" {{> analytics/fxa id="fx-monitor-find-out-blue-btn" }} type="submit" value="{{ getString "find-out" }}"/>
      {{/if}}
    {{else if experimentFlags.experimentBranchB}}
        <input type="submit" class="open-oauth ga-growth-ping" data-event-category="fxa-oauth" data-event-label="fx-monitor-create-account-blue-btn-homePage"  {{> analytics/fxa id="fx-monitor-create-account-blue-btn-homePage" }} value="Get Started"/>
    {{else}}
      <input class="breachesSubmitButton add-metrics-flow-values" data-form_type="other" {{> analytics/fxa id="fx-monitor-check-for-breaches-blue-btn" }} type="submit" value="{{ getString "check-for-breaches" }}"/>
    {{/if}}
      {{> forms/loader }}
  </div>
</form>
{{#if experimentFlags.experimentBranchB}}
    <p class="paragraph form-desc txt-cntr txt-purple7 experiment">Firefox browser not required for a Firefox Account. You may receive info about Mozilla&nbsp;services.</p>
{{else}}
  <p class="paragraph form-desc txt-cntr txt-purple7">{{ getString "search-for-your-email" }}</p>
{{/if}}
