  {{#ifCompare foundBreaches.length "===" 0}}
    {{#ifCompare userDash "||" fullReport}}
      <h3 id="latest-breaches" class="section-headline">{{fluentFormat req.supportedLocales "user-zero-breaches-headline" userEmail=signedInUser.email}}</h3>
    {{else}}
      <h3 id="no-breaches" class="section-headline">{{fluentFormat req.supportedLocales "guest-zero-breaches-headline"}}</h3>
    {{/ifCompare}}
  {{else}}
    <h3 id="scan-results-headline" class="section-headline scan-results-headline">
      {{#if userCompromised}}
        {{#if selfScan}}
          {{{fluentNestedBold req.supportedLocales "user-fb-compromised-headline" breachName=specificBreach.Title userEmail=signedInUser.email}}}
        {{else}}
          {{{fluentNestedBold req.supportedLocales "guest-fb-compromised-headline" breachName=specificBreach.Title}}}
        {{/if}}
      {{else}}
        {{#if selfScan}}
          {{{fluentFormat req.supportedLocales "user-scan-results-headline" breachCount=foundBreaches.length userEmail=signedInUser.email}}}
        {{else}}
          {{{fluentFormat req.supportedLocales "guest-scan-results-headline" breachCount=foundBreaches.length}}}
        {{/if}}
      {{/if}}
    </h3>
  {{/ifCompare}}

