    {{#ifCompare foundBreaches.length "===" 0}}
      {{#if signedInUser}}
        {{#if selfScan}}
          <div class="subscribe-icon stack"><!--subscribe-icon--></div>
        {{/if}}
      {{else}}
        {{> fxa_enabled/sign_up_bundle class="third"}}
      {{/if}}
    {{/ifCompare}}

   {{#ifCompare foundBreaches.length "===" 1}}
    {{#if specificBreach}}
      {{#if userCompromised}}
        {{> fxa_enabled/scan_results/single_breach}}
      {{else}}  
        {{#if selfScan}}
          {{> fxa_enabled/see_full_report_button class="third"}}
        {{else}}
          {{> fxa_enabled/scan_results/single_breach}}
        {{/if}}
      {{/if}}
    {{else}}
      {{> fxa_enabled/scan_results/single_breach}}
    {{/if}}
   {{/ifCompare}}

    {{#ifCompare foundBreaches.length ">" 1}}
      {{#if selfScan}}
        {{#if userCompromised}}
          {{> fxa_enabled/scan_results/single_breach}}
        {{else}}
          {{#ifCompare userDash "!!" fullReport}}
            {{> fxa_enabled/see_full_report_button class="third"}}
          {{/ifCompare}}
        {{/if}}
      {{else}}
        {{> fxa_enabled/sign_up_bundle class="third"}}
      {{/if}}
    {{/ifCompare}}
