    {{#ifCompare foundBreaches.length "===" 0}}
      {{#if req.session.user}}
        {{#if authenticatedUser}}
          <p>{{fluentFormat req.supportedLocales "authenticated-no-breaches-blurb"}}</p>
        {{/if}}
      {{else}}
        <p>{{fluentFormat req.supportedLocales "guest-no-breaches-blurb"}}</p>
      {{/if}}
    {{/ifCompare}}

    {{#ifCompare foundBreaches.length ">=" 1}}
      {{#if featuredBreach}}
        {{#if userAccountCompromised}}
          {{#if req.session.user}}
            <p>{{fluentFormat req.supportedLocales "user-fb-compromised-blurb" breachCount=(breachMath foundBreaches.length "-" 1)}}</p>
          {{else}}
            <p>{{fluentFormat req.supportedLocales "guest-fb-compromised-blurb" breachCount=(breachMath foundBreaches.length "-" 1)}}</p>
          {{/if}}
        {{else}}
          {{#if req.session.user}}
            <p>{{fluentFormat req.supportedLocales "user-fb-not-compromised-blurb" breachCount=foundBreaches.length breachName=featuredBreach.Title}}</p>
          {{else}}
            <p>{{fluentFormat req.supportedLocales "guest-fb-not-compromised-blurb" breachCount=foundBreaches.length breachName=featuredBreach.Title}}</p>
          {{/if}}
        {{/if}}
      {{else}}
        {{#if req.session.user}}
          <p>{{fluentFormat req.supportedLocales "user-found-breaches-blurb" breachCount=foundBreaches.length}}</p>
        {{else}}
          <p>{{fluentFormat req.supportedLocales "guest-found-breaches-blurb" breachCount=foundBreaches.length}}</p>
        {{/if}}
      {{/if}}
    {{/ifCompare}}
