    {{#ifCompare foundBreaches.length "===" 0}}
      {{#if signedInUser}}
        {{#if selfScan}}
          <p>{{fluentFormat req.supportedLocales "user-no-breaches-blurb"}}</p>
        {{else}}
          <p>{{fluentFormat req.supportedLocales "no-breaches-headline"}}</p><!-- legacy stringID, is no longer a headline-->
        {{/if}}
      {{else}}
        <p>{{fluentFormat req.supportedLocales "guest-no-breaches-blurb"}}</p>
      {{/if}}
    {{else}}
      {{#if specificBreach}}
        {{#ifCompare foundBreaches.length "===" 1}}
          {{#if userCompromised}}
            {{#if signedInUser}}
              {{#if selfScan}}
                <p>{{fluentFormat req.supportedLocales "user-fb-compromised-single"}}</p>
              {{else}}
                <p>{{{fluentNestedBold req.supportedLocales "user-generic-fb-compromised-single" breachCount=foundBreaches.length}}}</p>
              {{/if}}
            {{else}}
              <p>{{{fluentNestedBold req.supportedLocales "guest-fb-compromised-single-v2" breachCount=foundBreaches.length}}}</p>
            {{/if}}
          {{else}}
            {{#if signedInUser}}
              {{#if selfScan}}
                <p>{{{fluentNestedBold req.supportedLocales "user-fb-not-compromised-blurb" breachCount=foundBreaches.length breachName=specificBreach.Title userEmail=signedInUser.email}}}</p>
              {{else}}
                <p>{{{fluentNestedBold req.supportedLocales "user-generic-fb-not-compromised-blurb" breachCount=foundBreaches.length breachName=specificBreach.Title}}}</p>
              {{/if}}
            {{else}}
              <p>{{{fluentNestedBold req.supportedLocales "guest-fb-not-compromised-blurb-v2" breachCount=foundBreaches.length breachName=specificBreach.Title}}}</p>
            {{/if}}
          {{/if}}
        {{else}}
          {{#if userCompromised}}
            {{#if signedInUser}}
              {{#if selfScan}}
                <p>{{{fluentNestedBold req.supportedLocales "user-fb-compromised-blurb" breachCount=(breachMath foundBreaches.length "-" 1) userEmail=signedInUser.email}}}</p>
              {{else}}
                <p>{{{fluentNestedBold req.supportedLocales "user-generic-fb-compromised-blurb" breachCount=(breachMath foundBreaches.length "-" 1)}}}</p>
              {{/if}}
            {{else}}
              <p>{{{fluentNestedBold req.supportedLocales "guest-fb-compromised-blurb-v2" breachCount=(breachMath foundBreaches.length "-" 1)}}}</p>
            {{/if}}
          {{else}}
            {{#if signedInUser}}
              {{#if selfScan}}
                <p>{{{fluentNestedBold req.supportedLocales "user-fb-not-compromised-blurb" breachCount=foundBreaches.length breachName=specificBreach.Title userEmail=signedInUser.email}}}</p>
              {{else}}
                <p>{{{fluentNestedBold req.supportedLocales "user-generic-fb-not-compromised-blurb" breachCount=foundBreaches.length breachName=specificBreach.Title}}}</p>
              {{/if}}
            {{else}}
              <p>{{{fluentNestedBold req.supportedLocales "guest-fb-not-compromised-blurb" breachCount=foundBreaches.length breachName=specificBreach.Title}}}</p>
            {{/if}}
          {{/if}}
        {{/ifCompare}}
      {{else}}
        {{#if selfScan}}
          <p>{{{fluentNestedBold req.supportedLocales "user-found-breaches-blurb" breachCount=foundBreaches.length}}}</p>
        {{else}}
          <p>{{{fluentNestedBold req.supportedLocales "user-generic-found-breaches-blurb" breachCount=foundBreaches.length}}}</p>
        {{/if}}
      {{/if}}
    {{/ifCompare}}
