{{#if fullReport}}
  <h3 id="full-report" class="section-headline">{{fluentFormat req.supportedLocales "full-report-headline"}}</h3>
{{else}}
  {{#ifCompare foundBreaches.length "===" 0}}
    {{#if latestBreaches}}
      <h3 id="latest-breaches" class="section-headline">{{fluentFormat req.supportedLocales "no-breaches-headline"}}</h3>
    {{else}}
      <h3 id="no-breaches" class="section-headline">{{fluentFormat req.supportedLocales "no-breaches-found-headline"}}</h3>
    {{/if}}
  {{else}}
    <h3 class="section-headline">
      {{#if userAccountCompromised}}
        {{fluentFormat req.supportedLocales "user-compromised-headline" breachName=featuredBreach.Title}}
      {{else}}
        {{#ifCompare foundBreaches.length "===" 1}}
          {{fluentFormat req.supportedLocales "found-breach-headline"}}
        {{else}}
          {{fluentFormat req.supportedLocales "many-found-breaches-headline" breachCount=foundBreaches.length}}
        {{/ifCompare}}
      {{/if}}
    </h3>
  {{/ifCompare}}
{{/if}}
