<div class="fxa-menu-wrapper">
  {{!-- MH TODO: Add this change to PR as accessibility fix and then remove this comment --}}
  <div id="avatar-wrapper" class="avatar-wrapper {{ addClass }}" tabindex="0">
    <span class="sr-only">{{ getString "open-fxa-menu" }}</span>
    <img alt="{{ req.session.user.primary_email }}" class="avatar" src="{{ req.session.user.fxa_profile_json.avatar }}"/>
  </div>
  <div id="fxa-menu" class="fxa-menu">
    <div class="fxa-menu-links">
      <div class="signed-in-as-wrap flx">
        <span class="signed-in-as">{{{ getSignedInAs }}}</span>
      </div>
      {{#each (fxaMenuLinks)}}
        <a class="fxa-menu-link" {{> analytics/internal-link eventLabel=this.title }} href="{{ this.href }}">{{ this.stringId }}</a>
      {{/each}}
    </div>
  </div>
</div>
