<tr>
  <td style="color: black; background: #F9F9FA; padding: 36px 0 24px;">
    <p>
      {{{ getString "email-breach-detected" email-address=( concat "<strong>" breachedEmail "</strong>" ) }}}
    </p>
    <table style="margin: auto">
      <tr>
        <td>
          <!-- breach cards -->
          {{#getBreachAlert}}
          <table
            style="width: 30%; min-width: 240px; border-radius: 6px; border: 1px solid #eee; box-shadow: 0 0 6px #ddd; background: white; margin: 12px; display: inline-table; border-spacing: 0;">
            <tr>
              <td style="padding: 12px; border-top-left-radius: 6px; border-top-right-radius: 6px; background: #eee;">
                <img src="{{ LogoUrl }}" width="25" height="25" style="vertical-align: bottom;"> {{ Title }}
              </td>
            </tr>
            <tr>
              <td style="padding: 24px;">
                <p class="text-light"
                  style="font-weight: 300; color: #5e5e72; font-size: 13px; font-family: sans-serif; margin: 0px; padding-bottom: 4px;">
                  {{ LocalizedBreachCardStrings.BreachAdded }}</p>
                <p class="text-medium"
                  style="font-weight: 600; color: #20123a; font-size: 15px; padding-bottom: 15px; font-family: sans-serif; margin: 0px;">
                  {{ AddedDate }}</p>
                {{#if DataClasses }}
                <p class="text-light"
                  style="font-weight: 300; color: #5e5e72; font-size: 13px; font-family: sans-serif; margin: 0px; padding-bottom: 4px;">
                  {{ LocalizedBreachCardStrings.CompromisedData }}</p>
                <span class="text-medium"
                  style="font-weight:600; font-size: 15px; font-family: sans-serif; margin: 0px; color: #20123a;">{{
                  DataClasses
                  }}</span>
                {{/if}}
              </td>
            </tr>
          </table>
          {{/getBreachAlert}}

        </td>
      </tr>
    </table>

    <a href="{{ ctaHref }}"
      style="display: inline-block; margin: auto; color: white; background-color: #0060DF; border-radius: 4px; padding: 12px 24px; margin: 24px 0">{{
      getString "email-dashboard-cta" }}</a>
  </td>
</tr>