    <tr>
      <td class="email-breach-image" valign="top" style="padding-top: 3px; padding-bottom: 10px; width: 55px;">
        <img src="{{ SERVER_URL }}/img/email_images/missing-logo-icon.png" width="40" style="width: 40px;" />
      </td>
      <td valign="top" style="vertical-align: top; padding-top: 0px; padding-right: 20px; padding-bottom: 10px;">
        <p class="body-copy medium" style="padding: 0px; margin: 0px; color: #333333; margin: 0px; font-weight: 500; font-size: 16px;">{{ breachAlert.Title }}</p>
        <p class="body-copy medium" style="padding: 2px 0px 2px 0px; margin: 0px; color: #333333; font-weight: 400; font-size: 14px;">{{getEmailString supportedLocales "breach-date"}}<span class="body-copy" style="font-weight:300; padding-left: 6px; color: #333333">{{e_prettyDate supportedLocales breachAlert.BreachDate }}</span></p>
        <p class="body-copy medium" style="padding: 2px 0px 2px 0px; margin: 0px; color: #333333; font-weight: 400; font-size: 14px;">{{getEmailString supportedLocales "compromised-accounts"}}<span class="body-copy" style="font-weight:300; padding-left: 6px; color: #333333">{{e_localeString supportedLocales breachAlert.PwnCount }}</span></p>
        {{#if breachAlert.DataClasses }}
          <p class="body-copy medium" style="padding: 2px 0px 2px 0px; margin: 0px; color: #333333; font-weight: 400; font-size: 14px;">{{getEmailString supportedLocales "compromised-data"}}<span class="body-copy" style="font-weight:300; padding-left: 6px; color: #333333">{{e_localizedBreachDataClasses supportedLocales breachAlert.DataClasses }}</span></p>
        {{/if}}
      </td>
    </tr>

