<tr class="footer">
  <td style="border-top: 1px solid #ddd; padding: 24px 0; background: #F9F9FA;">
    <p>{{{ getEmailFooterCopy }}}</p>
    <p>{{{ getString "email-2022-hibp-attribution" hibp-link-attr='href="https://haveibeenpwned.com/"
      rel="noopener"' }}}
    </p>
    <img src="{{ SERVER_URL }}/img/email_images/mozilla-logo-bw-rgb.png" width="130px"
      style="display: block; margin: 24px auto 0;" alt="Mozilla">
    <p>
      2 Harrison St. #175, San Francisco, California 94105 USA
    </p>
    <p>
      <a
        href="https://www.mozilla.org/about/legal?utm_source=fx-monitor&utm_medium=email&utm_campaign={{utmCampaign}}&utm_content=email-footer-link">{{getString
        "legal"}}</a> • <a
        href="https://www.mozilla.org/privacy/firefox-monitor?utm_source=fx-monitor&utm_medium=email&utm_campaign={{utmCampaign}}&utm_content=email-footer-link">{{getString
        "terms-and-privacy"}}</a>
    </p>
  </td>
</tr>