    <tr class="email-wtd">
      <td colspan="2" valign="top" style="padding-top: 10px;">
        <p class="body-copy email-sub-head" style="color: #333333; font-weight: 300; font-size: 22px; padding-top: 30px; margin: 0px; ">
          {{getEmailString supportedLocales "what-to-do-next"}}
        </p>
      </td>
    </tr>
{{!-- 
    {{#loop 1 4 1 this}}
      <tr class="email-wtd">
        <td valign="top" width="60" style="width: 60px; padding-top: 15px;">
          <img width="45" src="{{ ../SERVER_URL }}/img/email_images/wtd-{{ this }}.png" alt="{{ this }}" />
        </td>
        <td valign="top" style="padding-top: 10px;">
          <p class="body-copy medium" style="color: #333333; font-weight: 400; font-size: 16px; padding: 0px; margin: 0px; ">
            {{getStringID ../supportedLocales "what-to-do-subhead-" this}}
          </p>
          <p class="body-copy" style="color: #333333; font-weight: 300; font-size: 14px; padding: 3px 0px 10px 0px; margin-top: 0px; ">
            {{getStringID ../supportedLocales "what-to-do-blurb-" this}}
          </p>
        </td>
      </tr>
    {{/loop}} --}}
