{{#getReportHeader}}
  <div style="width: 100%; padding-bottom: 20px;">
    <p class="body-copy medium" style="color:#333333; padding: 0px; margin: 0px; font-weight: 500; font-size: 14px;">{{ strings.fxmReport }}</p>
    <p class="body-copy medium" style="color:#333333; padding: 2px 0px; margin: 0px; font-weight: 500; font-size: 14px;">{{ strings.reportDate }} <span class="body-copy" style="font-weight:300; color: #333333;">{{ date }}</span></p>
    <p class="body-copy medium" style="color:#333333; padding: 2px 0px; margin: 0px; font-weight: 500; font-size: 14px;">{{ strings.email }} <a class="body-copy" href="mailto:{{ ./../email }}" style="font-weight: 300; color: #333333;">{{ ./../email }}</a></p>
  </div>
{{/getReportHeader}}
