
<h2 class="body-copy" style="color: #333333; font-size: 22px; font-weight: 300;">
  {{#if breachAlert}}
    {{ getString "your-info-was-discovered-headline" }}
  {{else}}
    {{ getString "report-headline" breachCount=unsafeBreachesForEmail.length }}
  {{/if}}
</h2>
 <p class="body-copy" style="color: #333333; font-size: 15px; font-weight: 300;">
  {{#if breachAlert}}
      {{ getString "your-info-was-discovered-blurb" }}
  {{else}}
    {{#ifCompare unsafeBreachesForEmail.length "===" 0}}
      {{ getString "report-subhead-no-breaches" }}
    {{else}}
      {{ getString "report-subhead-found-breaches" breachCount=unsafeBreachesForEmail.length }}
    {{/ifCompare}}
  </p>
  {{#ifCompare unsafeBreachesForEmail.length "===" 0}}
    <h2 class="body-copy" style="color: #333333; font-size: 22px; font-weight: 300;">
      {{ getString "pwt-section-headline" }}
    </h2>
    <p class="body-copy" style="color: #333333; font-size: 15px; font-weight: 300;">{{ getString "report-pwt-blurb" }}</p>
  {{/ifCompare}}
{{/if}} <!--breachAlert-->

