{{!< default_email}}

  <!--report subhead-->
  <table width="100%">
    <tr>
      <td align="center" style="max-width: 450px;">
        <p class="email-subhead" style="color: rgb(32, 18, 58); font-size: 16px; font-weight: 400; font-family: sans-serif; text-align: center; margin: 0; padding: 0 0 20px 0; line-height: 1.5;">
          {{#if breachAlert}}
            {{ getString "email-breach-alert-blurb" }}
          {{else}}
            {{#ifCompare unsafeBreachesForEmail.length "===" 0}}
              {{ getString "fxm-warns-you-no-breaches" }}
            {{else}}
              {{ getString "fxm-warns-you-found-breaches" }}
            {{/ifCompare}}
          {{/if}}
        </p>
      </td>
    </tr>
  </table>
  
  {{#if breachAlert}}
    <!--breach alert -->
    <table width="100%" style="max-width: 460px;">
      <tr>
        <td align="center" style="padding-bottom: 20px;">
          {{#getBreachAlert}}
            {{> email_partials/email_single_breach SERVER_URL=../SERVER_URL breachAlert=../breachAlert subscriberId=../subscriberId}}
          {{/getBreachAlert}}
        </td>
      </tr>
    </table>
  {{else}}

    <!-- report -->
    {{#ifCompare unsafeBreachesForEmail.length ">" 0}}
      <table width="100%" style="max-width: 460px;" align="center">
        <tr>
          <td align="center" width="100%" style="padding-bottom: 15px; border-bottom: 1px solid rgb(238, 238, 238);">
            <p class="breach-summary-for" style="font-weight: 500; font-family: sans-serif; font-size: 18px; margin: 0;">{{{ getBreachSummaryHeadline }}}</p>
          </td>
        </tr>
      </table>

      <!-- gray breach summary cards -->
      <table class="breach-stats" align="center" width="100%" style="max-width: 460px; padding: 20px 0;">
        {{#each (emailBreachStats)}}
          <tr>
            <td align="center" valign="center" class="breach-stat-wrapper" width="100%" style="width: 100%; padding: 0 5px 20px 5px;">
              {{> email_partials/email_breach_stat }}
            </td>
          </tr>
        {{/each}}
      </table>

      <!-- breach cards -->
      <table align="center" width="100%" style="max-width: 400px;">
        {{#each (getUnsafeBreachesForEmailReport)}}
          <tr>
            <td width="100%" style="padding-bottom: 20px;">
              {{> email_partials/email_single_breach SERVER_URL=../SERVER_URL subscriberId=../subscriberId}}
            </td>
          </tr>
        {{/each}}
      </table>
    {{/ifCompare}}
  {{/if}}
